.add-car
	position relative
	width 263px
	height 150px
	overflow hidden
	border-radius 5px
	background-color $rushina-gray
	border 3px solid white
	text-align center

	&__bg
		width 110px
		margin-left 175px
		opacity .1

	&__label
		position absolute
		left 64px
		top 61px
		font-family $heading-fonts
		font-weight 700
		color white
		text-transform uppercase

