.advantages
	padding 20px 30px
	font-family $heading-fonts
	font-weight bold
	line-height 20px
	text-transform uppercase

	&__slider
		background $rushina-light-gray url(../images/advantages_bg.jpg) no-repeat top center
		background-clip border-box

	&__title
		text-align center
		margin 10px 0 63px
		font-size 20px
		color #d7a235

	&__block
		position relative
		display block
		padding-left 150px
		margin-bottom 51px
		&_cards
			margin-bottom 39px
		&_wheels
			margin-bottom 50px

	&__img
		position absolute
		&_deliver
			sprite $advantages_deliver
			top -3px
			left -15px
		&_cards
			sprite $advantages_cards
			top -10px
			left 23px
		&_wheels
			sprite $advantages_wheels
			top -5px
			left 17px
		&_guarantee
			sprite $advantages_guarantee
			top -19px
			left 17px

	&__caption
		font-size 14px
		color #272727
