.advantages
	position relative
	display block
	width 380px
	height 490px
	border 3px solid #d4d4d4
	font-family 'Segoe UI'
	font-weight bold
	text-transform uppercase

	&-arrow
		position absolute
		top 208px
		width 42px
		height 49px
		border 3px solid #d4d4d4
		&_left
			left -3px
			border-left none
			border-radius 0 8px 8px 0
		&_right
			right -3px
			border-right none
			border-radius 8px 0 0  8px

	&-content
		display block
		height inherit
		line-height 20px
		background url(../images/advantages_bg.png) no-repeat -4px -3px

	&-title
		padding-top 29px
		padding-left 71px
		margin-bottom 20px
		font-size 20px
		color #d7a235

	&-block
		position relative
		display block
		padding-left 180px
		margin-bottom 49px

	&-img
		position absolute
		left 0
		&_deliver
			sprite $advantages_deliver
		&_cards
			sprite $advantages_cards
		&_wheels
			sprite $advantages_wheels
		&_guarantee
			sprite $advantages_guarantee

	&-caption
		font-size 14px
		color #272727
