.advantages
	position relative
	display block
	padding 3px
	width 380px
	height 490px
	font-family 'Segoe UI'
	font-weight bold
	text-transform uppercase
	&:before
		position absolute
		top 0
		left 0
		z-index 100
		display block
		width 374px
		height 210px
		border 3px solid #d4d4d4
		border-bottom none
		content ''
	&:after
		position absolute
		left 0
		bottom 0
		z-index 100
		display block
		width 374px
		height 230px
		border 3px solid #d4d4d4
		border-top none
		content ''


	&-arrow
		position absolute
		top 210px
		z-index 200
		width 42px
		height 50px
		border 3px solid #d4d4d4
		cursor pointer
		&_left
			left 0
			border-left none
			border-radius 0 8px 8px 0
		&_right
			right 0
			border-right none
			border-radius 8px 0 0  8px

		&-mark
			position absolute
			top 12px
			&_left
				left 11px
				sprite $advantages_arrow-left
			&_right
				right 12px
				sprite $advantages_arrow-right


	&-content
		display block
		height inherit
		line-height 20px
		background url(../images/advantages_bg.png) no-repeat -3px -3px

	&-title
		padding-top 29px
		padding-left 71px
		margin-bottom 63px
		font-size 20px
		color #d7a235

	&-block
		position relative
		display block
		padding-left 178px
		margin-bottom 51px
		&_cards
			margin-bottom 39px
		&_wheels
			margin-bottom 50px

	&-img
		position absolute
		&_deliver
			sprite $advantages_deliver
			top -3px
			left 14px
		&_cards
			sprite $advantages_cards
			top -10px
			left 52px
		&_wheels
			sprite $advantages_wheels
			top -5px
			left 46px
		&_guarantee
			sprite $advantages_guarantee
			top -19px
			left 46px

	&-caption
		font-size 14px
		color #272727
