.aside-filter
	position relative
	width 180px
	border 3px solid #ebebeb
	padding-bottom 14px
	margin-left 200px
	background white

	&__info
		display inline-block
		margin-right 10px

	&__block
		border-top 3px solid #ebebeb
		padding-left 18px
		margin-top 10px
		&:first-child
			margin-top 0
			border-top none
		& > p.hide
			display none

		&_width
			font-size 0
			& > p
				width 50%
				font-size 14px
				display inline-block

	&__title
		font-family $heading-fonts
		font-weight bold
		color #000
		font-size 14px
		text-transform uppercase
		padding-top 22px
		padding-bottom 5px

	&__show
		color #0f7cf0
		text-decoration none
		border-bottom 1px dotted #0f7cf0
		position relative
		display inline-block
		margin-bottom 13px
		margin-top 6px
		font-size 14px
		&:after
			position absolute
			content ''
			top 9px
			right -16px
			sprite $arrow-down
		&.hide:after
			transform rotate(180deg)
			top 8px

	&__checkbox
		& + label
			line-height 30px
		& + label:before
			height 18px
			width 18px
			background-size 36px 90px
			top 5px
			margin-right 0.62em

		&:not(:disabled)
			&:hover + label:before
				background-position 0 -18px

			&:checked + label:before
				background-position -18px 0

			&:checked:hover + label:before
				background-position -18px -18px

			&:checked:active + label:before
				background-position -18px -36px

		&:disabled

			& + label
				color #cccccc

			& + label:before
				background-position 0 -72px

	&__color
		width 25%
		float left
		&-input
			cursor pointer
			position absolute
			visibility hidden
			&:checked + label:before
				display block
		&-label
			width 26px
			height 26px
			margin-bottom 13px
			display block
			position relative
			cursor pointer
			&:before
				position absolute
				content ''
				top -4px
				bottom -4px
				left -4px
				right -4px
				border 2px solid #000
				display none
			&.black
				background-color #000000
			&.green
				background-color #32a232
			&.purpure
				background-color #9a3d96
			&.fiolet
				background-color #673266
			&.red
				background-color #e50607
			&.yellow
				background-color #fdd42e
			&.grey
				background-color #e2e2e2
			&.white
				background-color #ffffff
		&-wrap
			clearfix()
			margin-top 10px

	&__dash
		width 20px
		height 40px
		line-height 40px
		text-align center
		display inline-block
		vertical-align top

	&__select
		width 60px
		overflow hidden
		& .select2-container
			min-width auto
