.back-button
	padding-left 17px
	padding-right 17px
	height 40px
	vertical-align middle
	border 3px solid #757575
	border-radius 3px
	text-align center
	cursor pointer
	user-select none

	&__icon
		width 22px
		height 100%
		margin-right 7px
		vertical-align middle
		fill white

	&__text
		vertical-align middle
		text-transform uppercase
		font-family $heading-fonts
		font-weight 700
