.back-button
	width 247px
	height 40px
	padding-left
	vertical-align middle
	border 3px solid #757575
	border-radius 3px

	&__icon
		width 22px
		height 100%
		vertical-align middle
		fill white

	&__text
		vertical-align middle
		text-transform uppercase
		font $heading-fonts
