.best-brands
	font-size 0
	& .btn
		font-family $heading-fonts
		font-weight bold
		color #000

	&__info
		display inline-block
		padding-left 2px
		width 380px

	&-title
		padding-bottom 25px
		font-size 26px
		text-transform uppercase

	&-caption
		font-size 14px
		font-family $text-fonts

	&__content
		display inline-block
		vertical-align top
		font-size 14px

	&__nav
		margin-bottom 32px
		clearfix()

	&__btn-group
		float right
		margin-left 11px

	&__btn
		float right
		margin-left 9px
		&_arrow
			margin-left 3px

	&__logo
		font-size 0

	&__item
		display inline-block
		height 40px
		&_yokohama
			background url(../images/logo_yokohama.png) no-repeat 42px 8px
		&_nokian-tyres
			background url(../images/logo_nokian-tyres.png) no-repeat 50px -1px
		&_bridgestone
			background url(../images/logo_bridgestone.png) no-repeat 42px 8px
		&_good-year
			background url(../images/logo_good-year.png) no-repeat 42px 0
