.best-brands
	font-size 0
	& .btn
		font-family $heading-fonts
		font-weight bold
		color #000

	&__info
		display inline-block
		padding-left 2px
		width 380px

	&-title
		padding-bottom 25px
		font-size 26px
		text-transform uppercase

	&-caption
		font-size 14px
		font-family $text-fonts

	&__content
		display inline-block
		vertical-align top
		font-size 14px

	&__nav
		margin-bottom 32px
		clearfix()

	&__btn-group
		float right
		margin-left 11px

	&__btn
		float right
		margin-left 9px
		&_arrow
			margin-left 3px

	&__slider
		margin-left -10px
		margin-right -10px

	&__item
		display inline-block
		width 180px
		height 40px
		padding-left 10px
		padding-right 10px
		text-algn center

	&__image
		vertical-align middle
