.best-brands
	//
	&__text
		margin-top 26px

	.h-slider__slide
		text-align center

		&.slick-slide img
			display inline
			vertical-align top
			height 40px

	&__slide
		width gridWidth(2)
		text-align center

		& img
			display inline-block !important
			vertical-align top

		& a
			opacity 0.5

			&:hover
				opacity 1
