.big-description
	padding 17px
	padding-top 47px
	background #fff

	&__title
		font-size 18px
		margin-bottom 12px

	&__list
		list-style initial
		margin-left 9px
		color #000

	&__imgwrap
		margin-top 10px
		margin-bottom 15px
