.btn
	vertical-align baseline

	display inline-block

	padding .8em 1.6em

	color #000
	font-family $heading-fonts
	text-align center
	text-decoration none
	text-transform uppercase

	background transparent
	border none
	border-radius 3px
	box-shadow inset 0 0 0 3px $rushina-yellow
	cursor pointer

	&:not(:disabled):not(&_disabled):hover
		background-color $rushina-yellow

	&:disabled
	&_disabled
		color $rushina-gray
		box-shadow inset 0 0 0 3px $rushina-light-gray
		cursor default

	&_info
		padding 4px 12px

		width 29px
		height 29px

		color #fff

		background-color $rushina-blue
		background-image $info-gradient
		border none
		border-radius 100em
		box-shadow inset 0 1px 0 #fff, inset 0 -2px 0 #003e77

		&:not(:disabled):not(&_disabled):hover
			background-color $rushina-blue

		&:hover
		&:active
			background-image none

		&:active
			box-shadow inset 0 2px 0 #003e77, 0 1px 0 #fff

	&_info:disabled
	&_info&_disabled
		background-color $rushina-light-gray
		background-image none
		box-shadow inset 0 1px 0 #fff, inset 0 -2px 0 $rushina-gray

	&_primary
		text-shadow 0 1px 0 rgba(255,255,255,.75)

		background-color $rushina-yellow
		background-image $primary-gradient
		border none
		box-shadow inset 0 1px 0 #fff, inset 0 -2px 0 #9c7b01

		&:hover
		&:active
			background-image none

		&:active
			box-shadow inset 0 2px 0 #9c7b01, 0 1px 0 #fff

	&_primary:disabled
	&_primary&_disabled
		background-color $rushina-light-gray
		background-image none
		box-shadow inset 0 1px 0 #fff, inset 0 -2px 0 $rushina-gray

	&__icon
		width 100%
		height 100%

		fill currentColor
		filter drop-shadow(0 -1px 0 rgba(0,0,0,.5));
