.btn
	padding .8em 1em
	display inline-block


	color #000
	font-family $heading-fonts
	text-align center
	text-decoration none
	text-transform uppercase

	background transparent
	border none
	border-radius 3px
	box-shadow inset 0 0 0 3px $yellow
	cursor pointer

	&:not(:disabled):not(.is-disabled):hover
		background-color $yellow

	&:disabled
	&.is-disabled
		color $gray
		box-shadow inset 0 0 0 3px $light-gray
		cursor default

	&_style
		&_skeuo
			text-shadow 0 1px 0 rgba(255,255,255,.75)

			background-color $yellow
			background-image $primary-gradient
			border none
			box-shadow inset 0 1px 0 #fff, inset 0 -2px 0 #9c7b01

			&:hover
			&:active
				background-image none

			&:active
				box-shadow inset 0 2px 0 #9c7b01, 0 1px 0 #fff

			&:disabled
			&.is-disabled
				background-color $light-gray
				background-image none
				box-shadow inset 0 1px 0 #fff, inset 0 -2px 0 $gray

