.bus-card
	&-close
		display none
		margin-left 140px
		width 38px
		height 38px
		background #616161
		&-icon
			margin 3px
			width 32px
			height 32px
			& use
				fill #fff

	&__content
		position relative
		height 330px
		padding 13px
		border 3px solid #ebebeb
		background #fff

	&-label
		position absolute
		top 16px
		right -9px
		display none
		width 102px
		height 42px
		background url(../images/bus-card_label.png)

	&-img
		width 148px
		height 134px
		background url(../images/bus-card.png) no-repeat bottom

	&-play
		position absolute
		top 111px
		left 0px
		width 36px
		height 36px
		background #ebebeb
		&-icon
			margin 2px
			width 31px
			height 33px

	&-title
		margin-top 25px
		text-align center
		line-height 19px

	&-caption
		margin-top 3px
		font-size 13px
		font-family $text-fonts
		text-align center

	&-price
		padding-left 32px
		margin-top 2px
		&-num
			position relative
			display inline-block
		&-rub
			position absolute
			top -39px
			right -42px
			width 60px
			height 120px

	&-avaliable
		position relative
		display inline-block
		margin-top 4px
		margin-left 33px
		padding-left 21px
		font-family $text-fonts
		font-weight bold
		font-size 13px
		&:after
			position absolute
			top 5px
			left 0
			sprite $checkmark
			content ''
