.cart-product
	clearfix()

	&__img
		position relative
		display inline-block
		vertical-align middle

	&__label
		position absolute
		left -7px
		top 10px
		z-index 1

	&__delete-btn
		float right
		margin-top 30px
		margin-right 1px
		sprite($close-icon-compare)

		&_option
			margin-top 10px

	&__costs
		float right
		width 120px
		margin-right 30px
		margin-top 22px
		font-family  $heading-fonts
		font-size 20px
		font-weight 700
		color white

		&_option
			margin-top 5px

	&__per-cost
		margin-top 10px
		margin-left 4px

		.currency
			width 12px
			height 14px
			margin-left 2px
			fill white

	&__total-cost
		margin-left 5px

		.currency
			width 12px
			height 14px
			margin-left 7px
			fill white

	&__counter
		float right
		width 106px
		height 40px
		margin-top 30px
		margin-right 27px
		background-color white

		&_option
			margin-top 10px

	&__description
		display inline-block
		padding-bottom 10px
		font-family $heading-fonts
		font-size 20px
		font-weight 700
		vertical-align middle
		color white

		&_option
			padding-bottom 6px

	&__title
		margin-left 16px
		text-decoration underline

	&__params
		margin-left 16px
		margin-top 11px
		font-family $text-fonts

	&__option
		position relative
		margin-left 15px
		margin-top 4px

		.checkbox__label
			font-family $text-fonts
			font-size 14px
			font-weight 400
			color white

	&__tooltip
		position absolute
		right -38px
		top 50%
		margin-top -10px
