.consult-manager
	height 71px
	width 335px
	clearfix()

	&__image
		float left
		width 73px
		height 71px
		margin-right 19px

	&__contact
		height 100%
		padding-top 12px

	&__job
		margin-right .5em

	&__phone
		margin-top 3px
		font-family $heading-fonts
		font-weight 700
		font-size 20px


