.feedback
	width 258px

	&__icon
		width 31px
		height 51px
		margin-right 20px
		vertical-align middle
		fill white

	&__label
		vertical-align middle

	&__item
		height 51px
		padding-left 40px
		text-align left
		background-color #757575
		border-bottom 1px solid #686868
		border-top 1px solid #7b7b7b

		&:first-child
			border-top none

		&:hover
			.feedback__icon
				fill #fcd430

			.feedback__label
				color #fcd430
