.feedback
	width 240px
	color white
	cursor pointer

	&__link
		text-decoration inherit
		color inherit

	&__icon
		width 40px
		height 50px
		margin-right 15px
		vertical-align middle
		fill white

		&_support
			margin-left -4px
			margin-right 19px
			height 47px

		&_boss
			margin-left -2px
			margin-right 17px

		&_order
			margin-left 3px
			margin-right 11px

	&__label
		vertical-align middle

	&__item
		height 50px
		padding-left 25px
		text-align left
		background-color #757575
		border-bottom 1px solid #686868
		border-top 1px solid #7b7b7b
		user-select none

		&:first-child
			border-top none

		&:hover
			background-color #fcd430
			border none

			.feedback__icon
				fill #757575

			.feedback__label
				color #757575
