.filter-steps
	clearfix()

	&__step
		float left
		min-width 269px
		min-height 60px
		padding-left 10px
		padding-right 10px
		border 3px solid $rushina-yellow
		border-radius 3px
		text-align center
		cursor pointer

		&_passed
			background-color $rushina-yellow

		&_active
			background-color $rushina-yellow

			.filter-steps__step-content
				border none

		&:hover
			background-color $rushina-yellow

		&_two
			min-width 260px

		&_three
			min-width 259px

	&__step-content
		display inline-block
		margin-top 16px
		line-height 18px
		border-bottom 1px dotted black
		font-family $heading-fonts
		font-weight bold
		color black

	&__step-img
		margin-right 10px
		margin-left -15px
		vertical-align middle

	&__delimiter
		float left
		width 40px

	&__delimiter-icon
		width 21px
		height 26px
		margin-left 10px
		margin-top 17px
		transform rotate(180deg)

