.data
	& > span
		&:first-child
			margin-right 5px

	.line-with-short-underscores
		background url("../images/unclear_line.png") left bottom no-repeat
		border medium none
		display inline-block
		font-family Courier New
		font-size 27px
		line-height 40px
		padding-left 15px
		vertical-align bottom