.footer
	//position absolute
	//bottom 0
	display block

	&-content
		min-width 1200px
		max-height 514px
		overflow hidden
		background #ebebeb

	&-nav
		&-list
			position relative
			z-index 0
			padding-top 36px
			padding-bottom 21px
			width 800px
			font-size 0

		&__group
			display inline-block
			margin-right $module-gap
			vertical-align top

		&__item
			margin-bottom 18px
			&_high
				margin-bottom 34px


		&__link
			display block
			font-size 14px
			font-family $text-fonts
			color #1f1f1f

		&-title
			display block
			margin-top 19px
			margin-bottom 20px

	&-bg
		position absolute
		top 0
		left 486px
		z-index -1
		width 844pc
		height 514px
		background url(../images/footer-bg.png) no-repeat

	&-contact
		position relative
		z-index 1
		float right
		width 300px
		font-family $heading-fonts
		color #000

		&__info
			position relative
			display block
			padding-left 63px
			margin-bottom 20px
			font-size 16px
			line-height 20px
			& a
				color #000

			&_phone
				position relative
				padding-top 10px
				padding-left 63px
				margin-top 51px
				margin-bottom 63px
				height 41px
				font-size 25px
				font-weight bold

	&-icon
		position absolute
		top -10px
		left 9px
		width 41px
		height 41px
		&_phone
			top -5px
			left 7px
			width 44px
			height 51px
		&_clock
			top -1px
		&_flag
			top -11px
			left 8px
			width 43px
			height 43px

	&-wrapper
		font-size 0
		clearfix()

	&-bottom
		padding-top 31px
		height 171px
		font-size 0
		background #fff
		&__pay
			float left
			margin-left -1px
			width 40.7%
		&__social
			position relative
			float left
			width 16.8%

		&-caption
			margin-bottom 14px
			font-size 14px
			font-family $heading-fonts
			color #000

		&-btn
			position relative
			float left
			overflow hidden
			margin-right 2px
			height 40px
			border 2px solid #f3f3f3
			border-radius 5px
			&_pay
				width 61px
				&_long
					margin-left 7px
					width 88px
			&-image
				position absolute
				top -2px
				left -2px
				&_visa
					sprite $btn-visa
				&_mastercard
					sprite $btn-mastercard
				&_wallet
					sprite $btn-wallet
				&_yandex
					sprite $btn-yandex
				&_paypal
					width 88px
					sprite $btn-paypal

			&_social
				margin-right 3px
				width 48px
				&:last-child
					position absolute
					top 34px
					left 153px
			&-svg
				position absolute
				&_vk
					top -10px
					left -6px
					height 55px
					width 55px
				&_classmates
					top -12px
					left -7px
					height 58px
					width 58px
				&_fb
					top 7px
					left 10px
					height 23px
					width 23px
				&_twitter
					top 8px
					left 12px
					height 20px
					width 20px

	&-logo
		float left
		width 42.5%
		height 171px
		background url(../images/svg/1_logo_dark.svg) no-repeat -8px 22px
		background-size 311px 65px

	&-copyright
		height 50px
		line-height 45px
		background #000
		&-caption
			font-size 14px
			font-weight normal
			color #fff
			&_sign
				font-size 16px
