.form-size

	&__attention
	&__consult
		margin-top 57px

	&__attention-caption
	&__consult-caption
		margin-bottom 22px
		font-size 20px
		font-weight bold
		text-transform uppercase
		color black

	&__attention-content
		width 580px

	&__consult-caption
		letter-spacing -.5px

	&__consult-content
		font-weight bold
		color black

	&__consult-phone-block
		margin-top 15px
		clearfix()

	&__consult-phone-icon
		float left
		width 45px
		height 45px
		margin-left -13px
		margin-top 1px

	&__consult-phone-label
		padding-top 4px
		margin-left 46px
		font-family $heading-fonts
		font-weight bold
		text-transform uppercase

	&__consult-phone-number
		margin-left 45px
		font-size 20px
		font-weight bold

	&__remark
		margin-bottom 43px
		font-size 16px
		color black


	&__table
		clearfix()

	&__discs
	&__tires
		float left
		width 50%
		background-image url('/assets/images/form-size-bg.png')
		background-repeat no-repeat

	&__tires
		background-position 454px 149px

	&__discs
		padding-left 150px
		background-position -136px 149px

	a
		font-weight bold
		color #3099fb

.table-size
	width 440px
	margin-bottom 37px

	&__caption
		margin-bottom 36px
		font-family $heading-fonts
		font-size 26px
		font-weight 700
		text-transform uppercase
		color black

		&_no-common
			margin-bottom 109px

	&__common
		margin-bottom 33px
		font-weight bold

	&__common-content
		clearfix()

	&__common-param
		float left
		margin-right 21px

	&__common-param-value
		margin-left 4px

	&__table-header
		font-family $text-fonts
		font-weight bold
		border-top 1px solid #bfbfbf
		border-bottom 1px solid #bfbfbf
		clearfix()

	&__right-header
	&__left-header
		margin-top 1px
		font-weight bold
		line-height 48px

	&__right-header
		float right

	&__left-header
		float left
		margin-left 101px

	a
		color $rushina-gray
		text-decoration none

.size-item
	position relative
	padding-top 17px
	padding-bottom 15px
	border-bottom 1px solid #d2d2d2

	&__auto-img
		position absolute
		sprite($form-size-car)
		left 231px
		top 50%
		margin-top -41px

		&_right
			left 227px

	&__caption
		margin-bottom 12px
		font-size 20px
		font-weight 700
		color black

	&__type-block
		margin-top 10px
		margin-bottom 62px
		clearfix()

		&:last-child
			margin-bottom 0

	&__type-name
		float left
		width 102px
		font-weight bold

	&__forward-models
		float left

	&__rear-models
		float right

	&__model
		display table
		margin-top 3px
		margin-bottom 25px
		border-bottom 1px solid #d2d2d2
		line-height 14px
		font-weight bold

		&:last-child
			margin-bottom 0
