.block-logo
    font-family pt sans
    font-size 10px
    margin 2% 0.5%
    text-align center
    width 150px

.image-block
    &-stamp-top-secret
        margin 0 1%

    &-record-case
        padding 4% 0
        text-align center

