.last-viewed-products-slider
	position relative

	width 1140px

	margin 0 auto

	padding-left 81px
	padding-right 25px

	clearfix()

	&__left-switch
		position absolute
		left -20px
		top 50%

		margin-top -14px
		sprite($slider-switch-l)

		cursor pointer
		user-select none


	&__right-switch
		position absolute
		right -20px
		top 50%

		margin-top -14px
		sprite($slider-switch-r)

		cursor pointer
		user-select none

	&__container
		width 1000px

	&__item
		float left
		margin-right 20px
		width 180px
		height 330px

		background-color white

		&:last-child
			margin-right 0
