.main
	&_home
		background-image url('../images/home-bg.jpg')
		background-position top center
		background-repeat no-repeat
		background-size 100% auto

		&__sale
			margin-top: 36px
			margin-bottom 57px;

	&__best-brands
		margin-top 62px
		margin-bottom 59px

	&__brand-list
		padding-bottom 50px

	&__catalog
		padding-bottom 20px

	&__filter-steps
		padding-bottom 20px

	&__new-products
		margin-top 2px
		margin-bottom 62px

	&__news
		margin-bottom 54px

	&__pagination
		padding-bottom 60px

		text-align right

	&__shop-info
		margin-bottom 60px

	&__title
		padding-bottom 42px

	&__wf-inner
		padding-bottom 30px
