.menu-fast-selection
	background-color $rushina-gray
	color white

	&__wrap
		padding-top 20px
		padding-left 20px
		padding-right 20px
		padding-bottom 20px

	&__caption
		margin-bottom 20px
		font-family $heading-fonts
		font-size 14px
		font-weight bold
		text-transform uppercase

	&__container
		display table
		width 100%

	&__left-col
		display table-cell
		width 257px
		border-right 1px solid #333
		vertical-align top

	&__right-col
		display table-cell
		padding-left 36px
		vertical-align top

	&__col-item
		margin-bottom 20px

		&:last-child
			margin-bottom 0

		&_links
			margin-bottom 30px

	.switch
			margin 0
			font-family $heading-fonts
			font-weight 700
			text-transform uppercase

.menu-fast-links

	&__first-level

		li
			margin-top 10px
			font-family $text-fonts
			font-size 14px
			font-weight 700
			text-transform uppercase

			&:first-child
				margin-top 0

	&__second-level

		li
			margin-top 10px
			font-family $text-fonts
			font-size 14px
			font-weight 400
			text-transform none

			&:first-child
				margin-top 10px

.type-links

	&__item
		height 40px
		margin-bottom 10px

		&:last-child
			margin-bottom 0

	&__icon
		width 45px
		height 100%
		margin-right 12px
		vertical-align middle
		fill white

	&__label
		vertical-align middle
		width 159px

	.btn.type-links__label
		padding-left 5px
		padding-right 0px
		font-family $text-fonts
		font-weight bold

.manufacturers-list
	display table
	width 100%
	margin-left -4px

	&__col
		display table-cell
		width 190px
		font-weight 700

		li
			margin-bottom 10px

			&:last-child
				margin-bottom 0

	&__all
		margin-top 40px
