.menu-cart
	width 825px

	margin 0 auto

	padding-top 2px

	background-color $rushina-gray

	&__contents
		position relative
		width 772px
		height 319px
		margin-left 23px
		padding-left 7px
		overflow hidden

	&__product-list
		position absolute
		top -1px
		width 726px

	&__product
		height 160px
		padding-top 28px
		border-top 1px solid #949494
		border-bottom 1px solid #333333

	&__delivery
	&__summary
		width 726px

		margin-left 30px
		padding-top 24px
		padding-bottom 24px

		border-top 1px solid #949494
		border-bottom 1px solid #333333

		clearfix()

	&__summary
		border-bottom none

	&__delivery-conditions
		margin-top -1px
		letter-spacing -.1px
		color white

	&__delivery-date-value
	&__delivery-cost-value
		margin-left 5px
		font-weight 700

	&__pick-points
	&__another-city
		float right
		color white
		font-family $heading-fonts
		font-weight 700

	&__pick-points
		width 194px
		margin-right 20px

		.btn
			padding-left 6px
			padding-right 7px
			padding-top 10px
			padding-bottom 10px

	&__another-city
		width 255px

		.btn
			padding-left 10px
			padding-right 7px
			padding-top 10px
			padding-bottom 10px
			letter-spacing -.2px

	&__total-cost-label
		margin-top 4px
		font-family $heading-fonts
		font-size 26px
		font-weight 700
		text-transform uppercase
		letter-spacing -.3px
		color white

		.currency
			width 19px
			height 19px
			margin-left 2px
			fill white

	&__summary
		padding-bottom 26px
		clearfix()

	&__total-cost-value
		margin-left 22px

	&__order
		float right
		width 254px
		font-family $heading-fonts
		font-weight 700

		.btn
			padding-top 9px

	&__cost-remark
		float right
		margin-right 95px
		margin-top 9px
		color rgba(255,255,255,.5)

	&__scroll
		position absolute
		right 0
		top 28px
		width 6px
		height 291px
		border-radius 3px
		background-color #ebebeb

	&__scroller
		position absolute
		height 110px
		width 100%
		border-radius 2px
		background-color #616161
		cursor pointer
