.news-card
	&__link
		color inherit

	&__title
		margin-top 8px
		margin-bottom 8px
		color #000

	&__date
		display block
		margin-top 15px
		margin-bottom 7px

	&__text
		margin-top 11px

.news__item_long
	position relative
	padding 18px 9px 22px 308px
	width 1222px
	height 219px

	&-photo
		position absolute
		top 15px
		left 9px
		width 280px
		height 182px

	&-content
		display block

	&-title
		margin-bottom 11px
		margin-left -1px
		color #000
