.news_item
	display block
	padding 3px 6px 30px 5px
	width 291px
	height 439px
	font-family 'PT Sans'

	&-photo
		display block
		width 280px
		height 181px
		background url(../images/news_photo-1.png) no-repeat
		background-size cover
	&-data
		display block
		margin-top 15px
		letter-spacing -.2px
	&-title
		display block
		margin-top 8px
		margin-left -1px
		font-size 16px
		font-weight bold
		color #000
	&-content
		display block
		margin-top 11px
		letter-spacing -.11px
