.note-info
	position relative
	padding 25px 14px 4px 17px
	border 3px solid $rushina-light-gray
	background #fff

	&__icon-wrapper
		width 30px
		height 30px
		position absolute
		left -11px
		top 21px

	&__icon
		width 79px
		height 40px

	&__title
		padding-left 33px
		margin-bottom 16px
		line-height 1.2em

	&__list
		font-family $heading-fonts
		&-item
			margin-bottom 16px
			line-height: 1.28em

.note-article
	margin-top 21px
	color $rushina-gray


	&__title
		color inherit
		line-height 1.3em
		margin-bottom 6px

	&__text
		line-height 1.22em
