.note-info
	position relative
	padding 25px 14px 5px 17px
	margin 10px 0
	border 3px solid $rushina-light-gray
	background #fff

	&__icon
		position absolute
		width 26px
		height 26px
		margin-top 3px
		margin-left -1px

	&__title
		padding-left 33px
		margin-bottom 16px
		line-height 1.2em

	&__list
		font-family $heading-fonts

		&-item
			margin-bottom 18px
			line-height: 16px

.note-article
	margin 10px 0
	color $rushina-gray

	&__title
		color inherit
		line-height 16px
		margin-bottom 9px
		margin-top 17px

	&__text
		line-height 17px
