.opening-hours
	width 160px
	height 138px

	padding-top 16px
	padding-left 25px

	background-color $rushina-gray

	text-align left
	color white

	clearfix()

	&__days-list
		float left

	&__timeframe
		margin-top 8px
		margin-left 2px

		overflow hidden

	&__days
		width 15px
		height 6px

		margin-top 2px

		background-color white

		&:first-child
			margin-top 0

		&_sunday
			background-color #d40101

	&__scope
		float left


	&__weekdays-scope
		width 4px
		height 34px

		margin-top 2px
		margin-left 5px

		border 1px solid white
		border-left 0

	&__saturday-scope
		width 4px

		margin-left 5px
		margin-top 6px

		border-top 1px solid white

	&__weekdays
		margin-top 7px

		padding-left 5px

		font-size 12px
		color white

		overflow hidden

	&__weekend
		margin-top 5px

		padding-left 6px

		font-size 12px

		overflow hidden

