.opening-hours
	position relative
	width 160px
	height 138px
	background-color #757575
	padding-top 15px 
	padding-left 20px
	padding-right 20px
	background-image url('../images/opening-hours.png')
	background-repeat no-repeat
	background-position 25px 70px
	text-align left
	
	&__weekdays
		position absolute
		left 55px
		top 75px
		
	&__weekend
		position absolute
		left 55px
		top 101px  