.pagination
	&__arrow
		display inline-block
		vertical-align middle
		margin-left 5px

		&_left
			margin-left 0
			margin-right 5px

	&__all
		display inline-block
		vertical-align middle
		margin-left 5px

	&__all-btn
		text-transform inherit
		color black
		font-family $heading-fonts
		font-weight 700
		text-decoration underline

	&__item
		display inline-block
		width 40px
		height 40px
		vertical-align middle
		font-family $heading-fonts
		font-weight 700
		text-align center
		line-height 40px
		color black
		border-radius 3px
		text-shadow 0 1px 0 rgba(255,255,255,.75)
		cursor pointer

		&:hover
			background-color $rushina-yellow
