.product-compare
	background-color $rushina-gray
	padding-top 30px
	padding-bottom 31px

	&__slider
		width 1140px
		margin 0 auto

	&__controls
		width 1000px
		margin 20px auto 0
		clearfix()

	&__submit
		float right
		margin-right 8px
		width 381px
		font-weight 700

	&__switch
		float right
		margin-top -3px
		margin-right 17px
		font-weight 700
		text-transform uppercase
		color white

	&__summary
		margin-left 11px
		padding-top 10px
		overflow hidden
		font-weight 700
		font-family $heading-fonts
		letter-spacing -.1px
		text-transform uppercase
		color white

