.sales-slider
	width 780px
	height 400px

	&__controls
		clearfix()

	&__all-products
		float right
		width 226px
		margin-right 13px
		font-size 14px
		font-weight 700
		color black

		.btn
			width 100%
			padding-top 10px
			padding-left 20px
			padding-right 20px
			padding-bottom 10px

			letter-spacing -.1px

	&__right-switch
	&__left-switch
		float right

	&__left-switch
		margin-right 4px

	&__container
		height 330px
		margin-top 30px
		margin-right -6px
		padding-right 6px
		overflow hidden
		clearfix()

	&__item
		background-color white
		float left
		width 180px
		height 330px
		margin-right 20px

		&:last-child
			margin-right 0

