.select2
	display inline-block
	height 40px

.select2-container
	min-width 135px

.select2-container .select2-choice
	height 40px
	padding 7px 8px
	border 1px solid #999
	color #272727
	border-radius 0
	background-color #fff
	background-image none

	&:hover
		border 2px solid #fdd42e
		padding 6px 7px

.select2-dropdown-open .select2-choice
	border 2px solid #fdd42e
	border-bottom none
	padding 6px 7px

.select2-dropdown-open.select2-drop-above .select2-choices
	border 2px solid #fdd42e
	border-top none

.select2-container.select2-drop-above .select2-choice
	border 2px solid #fdd42e
	border-radius 0

.select2-dropdown-open.select2-drop-above .select2-choice
.select2-dropdown-open.select2-drop-above .select2-choices
	background-image none

.select2-drop
	box-shadow none

.select2-drop.select2-drop-above
	box-shadow none

.select2-drop-active
	border 2px solid #fdd42e
	border-top none

.select2-drop.select2-drop-above.select2-drop-active
	border-top 2px solid #fdd42e

.select2-container .select2-choice .select2-arrow
	width 21px
	border-left none
	border-radius 0
	background-image none
	background-color #fff

.select2-container .select2-choice:hover .select2-arrow
	right -1px
	top -1px

.select2-container .select2-choice .select2-arrow b
	background-position 0 7px

.select2-search input
	box-shadow: none;

.select2-container-active .select2-choice,
.select2-container-active .select2-choices
	box-shadow none

.select2-dropdown-open .select2-choice
	box-shadow none

.select2-dropdown-open .select2-choice .select2-arrow b
	background-position -18px 7px

.select2-results
	padding 0
	margin -3px 0 0 0

.select2-results .select2-result-label
	padding 8px 7px 6px

.select2-results .select2-highlighted
	background #fdd42e
	color #272727

.select2-container-multi.select2-container-active .select2-choices
	box-shadow none

.select2-container-multi .select2-choices .select2-search-choice
	box-shadow none

.select2-drop.select2-drop-above
	border-radius 0

.select2-drop.select2-drop-above .select2-results
	margin-top 0
