.slider-last-news

	&__top-bar
		clearfix()

	&__caption
		float left
		margin-top 7px
		margin-left -2px
		font-family $heading-fonts
		font-weight 700
		font-size 26px
		text-transform uppercase
		color black

	&__all-products
		float right
		width 226px
		margin-right 13px
		font-size 14px
		font-weight 700
		color black

		.btn
			width 100%
			padding-top 10px
			padding-left 20px
			padding-right 20px
			padding-bottom 10px

			letter-spacing -.1px

	&__arrow-right
	&__arrow-left
		float right

	&__arrow-left
		margin-right 4px

	&__container
		margin-top 26px
		margin-left -10px
		margin-right -10px
		padding-right 7px
		clearfix()

	&__item
		float left
		height 280px
		margin-right 10px
		margin-left 10px
		background-color white
