.technology
	padding-top 47px
	padding-left 17px
	padding-bottom 20px
	background #fff

	&__title
		font-size 18px
		margin-bottom 18px

	&__list
		list-style initial
		margin-left 17px
		li
			color #000

		img
			margin-top 10px
			margin-bottom 15px
			margin-left -17px
