.toggler
	position relative
	display inline-block
	padding-top 6px
	color #0f7cf0
	font-size 14px
	line-height 1
	border-bottom 1px dotted #0f7cf0
	user-select none

	&:after
		content ''
		position absolute
		top 50%
		margin-left .3em
		sprite $arrow-down

	&_hide:after
		transform rotate(180deg)

