$top-menu-default-height = 50px
$top-menu-fix-height = 70px
$top-menu-lk-height = 90px
$top-menu-order-height = 70px

.top-menu
	position relative
	background-color #616161
	color white
	box-shadow inset 0 0 0 1px #777

	&__wraper
		position relative

		height $top-menu-default-height

		padding-left 1px
		padding-right 1px

		clearfix()

		&:before
		&:after
			position absolute
			top 0

			width 1px
			height 100%

			content ''

		&:before
			left 0
			background-image linear-gradient(#343434, transparent);

		&:after
			right 0
			background-image linear-gradient(#7e7e7e, transparent);

		&_lk
			height $top-menu-lk-height

		&_fix
			height $top-menu-order-height

		&_order
			height $top-menu-order-height

		&_lk
		&_fix
		&_order
			&:before
				content none

	&__back-button
		display inline-block

		margin-left 11px

		vertical-align middle

		&_lk
			margin-left 20px

	&__contacts
		position relative

		display block

		height 100%

		overflow hidden

		box-shadow inset 0 -3px 3px #5c5c5c

		&:after
			position absolute
			top 0
			right 0px

			width 1px
			height 100%

			background-image linear-gradient(#343434, transparent);

			content ''


	&__counter
		position absolute
		right 1px
		top 14px

		display block

		width 22px
		height 22px


		font-family $heading-fonts
		font-weight 700
		font-size 14px
		line-height 22px
		text-align center
		color $rushina-gray

		border-radius 50%
		background-color #fcd430

		&_narrow
			top 5px
			right 10px

	&__logo
		width 235px
		height 100%

		margin-right 40px
		margin-left -3px

		vertical-align middle

		&_lk
			width 248px

			margin-left -7px

		&_order
			margin-left -7px
			margin-right 88px

	&__icon
		width 42px
		height 100%

		margin-right 9px

		vertical-align middle

		fill white

		&_type_nolabel
			margin-right 0

		&_type_lk
			margin-left -12px

		&_cart
			height 65px

	&__icon-wrap
		position relative

		display inline-block

		height 100%

	&__label
		display inline-block

		height 20px
		max-width 138px

		vertical-align middle

		overflow hidden
		white-space nowrap
		text-overflow ellipsis

		&_type_currency
			font-family $heading-fonts
			font-size 20px
			font-weight 700

	&__contact
		display inline-block

		vertical-align middle

		&_order
			height 47px

			margin-left 116px

		&_lk
			margin-left 65px

	&__container
		position absolute
		left 0
		z-index 1

		display none

		&_rightedge
			left inherit
			right 0

	&__tab
		position relative

		float left

		height 100%

		padding-right 4px
		padding-left 4px

		text-align center

		box-shadow inset 0 -3px 3px #5c5c5c

		user-select none

		&:after, &:before
			position absolute
			top 0

			width 1px
			height 100%

			content ""

		&:before
			left 0
			background-image linear-gradient(#7e7e7e, transparent);

		&:after
			right 0
			background-image linear-gradient(#343434, transparent);

		&:hover
		&_active
			background-color #757575
			cursor pointer
			box-shadow none

			.top-menu__icon
				fill #fcd430

			.top-menu__label
				color #fcd430

			.top-menu__container
				display block

			.currency
				fill #fcd430

		&_right
			float right

		&_lk
			float right
			width 80px

		&_order
			float right
			width 90px

		&_type_car
			width 18.6%
			padding-left 15px
			padding-right 15px

		&_type_compare
			width 14%

		&_type_seen
			width 17.4%

		&_type_feedback
			width 16.2%

		&_type_login
			width 17.5%

		&_type_clock
			width 4.2%

		&_type_cart
			float none
			overflow hidden

			&:before
				content none

			&:hover
				color inherit

		&_fix-car
			width 235px
			padding-right 15px

		&_fix-cart
			width 157px
			padding-left 0
			padding-right 18px

	.currency
		width 15px
		height 15px
		margin-left 5px
		fill white

	// &_default
	// 	transform translateZ(25px)

.sticky-nav
	position fixed
	// background-color #616161
	top 0
	left 0
	right 0
	z-index 100

	&__menu-wrapper
		position relative
		z-index 1
		backface-visibility visible
		transform-style preserve-3d
		transform-origin 50% 50% 0
		// transform translateY(-20px)
		transition transform .5s

	// &_fixed &__menu-wrapper
	// 	transform translateY(0)

	&__full-menu
		position relative

		// padding-top $top-menu-fix-height - $top-menu-default-height

		backface-visibility visible
		transform-style preserve-3d
		transform-origin center 0 0
		transform rotateX(0) translateZ(1px)
		transition transform .35s

		&:after
			content ''

			position absolute
			top 0
			bottom 0
			left 0
			right 0
			z-index -5

			background-color rgb(200,200,200)
			opacity 0

			transform translateZ(0)
			transition opacity .2s, transform 0 .35s

	&_fixed &__full-menu
		z-index -5

		transform rotateX(90deg)

		&:after
			z-index 5

			opacity 1

			transform translateZ(1px)
			transition opacity .2s .15s, z-index 0 .35s

	&__short-menu
		position relative

		margin-top -50px
		margin-bottom -20px

		backface-visibility visible
		transform-style preserve-3d
		transform-origin 50% 0 -50px
		transform rotateX(-90deg)
		transition transform .35s

		&:after
			content ''

			position absolute
			top 0
			bottom 0
			left 0
			right 0
			z-index 5

			background-color rgb(32,32,32)

			transition opacity .35s

	&_fixed &__short-menu
		margin-bottom 0
		transform rotateX(0) translateZ(1px)

		&:after
			z-index -5

			opacity 0

			transition opacity .35s, z-index 0 .35s
