$top-menu-default-height = 50px
$top-menu-fix-height = 70px
$top-menu-lk-height = 90px
$top-menu-order-height = 70px

.top-menu
	background-color #616161
	color white

	&__wraper
		position relative
		height $top-menu-default-height
		padding-left 1px
		padding-right 1px

		&:before
		&:after
			position absolute
			width 1px
			height 100%
			content ''
			top 0

		&:before
			background-image linear-gradient(#343434, transparent);
			left 0

		&:after
			background-image linear-gradient(#7e7e7e, transparent);
			right 0

		&_lk
			height $top-menu-lk-height

		&_fix
			height $top-menu-order-height

		&_order
			height $top-menu-order-height

		&_lk
		&_fix
		&_order
			&:before
				content none


	&:after
		display table
		clear both
		content ''

	&__back-button
		display inline-block
		margin-left 11px
		vertical-align middle

	&__contacts
		position relative
		display block
		overflow hidden
		height 100%

		&:after
			position absolute
			width 1px
			height 100%
			content ''
			top 0
			background-image linear-gradient(#343434, transparent);
			right 0px

	&__counter
		position absolute
		display block
		width 22px
		height 22px
		right 1px
		top 14px
		line-height 22px
		font-family $heading-fonts
		font-weight 700
		font-size 14px
		text-align center
		border-radius 50%
		background-color #fcd430
		color #616161

	&__logo
		width 235px
		height 100%
		margin-right 40px
		margin-left -3px
		vertical-align middle

		&_lk
			width 248px

		&_order
			margin-left -7px
			margin-right 88px

	&__icon
		width 42px
		height 100%
		margin-right 9px
		vertical-align middle
		fill white

		&_type_nolabel
			margin-right 0

		&_cart
			height 65px

	&__icon-wrap
		position relative
		display inline-block
		height 100%

	&__label
		vertical-align middle
		height 20px
		overflow hidden

		&_type_currency
			font-family $heading-fonts
			font-size 20px
			font-weight 700

	&__contact
		display inline-block
		height 47px
		vertical-align middle

		&_order
			margin-left 116px

	&__container
		position absolute
		left 0
		z-index 1
		display none

		&_rightedge
			left inherit
			right 0

	&__tab
		position relative
		float left
		padding-right 4px
		padding-left 4px
		height 100%
		text-align center
		box-shadow inset 0 -3px 3px #5c5c5c
		select-none()

		&:after, &:before
			position absolute
			top 0
			height 100%
			width 1px
			content ""

		&:before
			background-image linear-gradient(#7e7e7e, transparent);
			left 0

		&:after
			background-image linear-gradient(#343434, transparent);
			right 0

		&:hover
			cursor pointer
			box-shadow none
			background-color #757575

			.top-menu__icon
				fill #fcd430

			.top-menu__label
				color #fcd430

			.top-menu__container
				display block

			.currency
				fill #fcd430

		&_right
			float right

		&_lk
		&_order
			float right
			width 90px

		&_type_car
			width 18.6%

		&_type_compare
			width 14%

		&_type_seen
			width 17.4%

		&_type_feedback
			width 16.2%

		&_type_login
			width 17.5%

		&_type_clock
			width 4.2%

		&_type_cart
			//width 16.5%
			float none
			overflow hidden

			&:before
				content none

			&:hover
				color inherit

		&_fix-car
			width 235px
			padding-right 15px

		&_fix-cart
			width 157px
			padding-left 0
			padding-right 18px

	.currency
		width 15px
		height 15px
		margin-left 5px
		fill white
