.view-switch
	color #000
	font-weight 700

	&__caption
		display inline-block

		padding-right 10px

	&__count
		display inline-block

		padding-left 15px

	&__icon
		width 14px
		height 14px

		vertical-align middle

	&__toggle
		display inline-block
