.wf
	width 780px

	&__tab
		padding 14px 16px

		position relative

		display table-cell

		vertical-align middle

		border 3px solid transparent

		&:hover
			border-top-color $rushina-yellow

			&:before
			&:after
				content ''

				position absolute
				top -3px
				bottom 0

				display block
				width 3px

				background-image linear-gradient(to bottom, rgba($rushina-yellow,1), rgba($rushina-yellow,0))

			&:before
				left -3px

			&:after
				right -3px

		&:first-child
			padding-left 28px

		&:last-child
			padding-right 28px

		&_active
			background-color $rushina-light-gray
			border-color $rushina-yellow
			border-bottom none

	&__tabs
		margin-left -2px
		margin-right -2px

		position relative
		z-index 1

		display table
		width calc(100% + 4px)

		table-layout fixed

		border-spacing 2px

.wf-body
	margin-top -5px
	padding 28px

	display none

	background-color $rushina-light-gray
	border 3px solid $rushina-yellow
	overflow hidden

	&_active
		display block

	for bg in 'discs' 'tires'
		&_{bg}
			background-image url('/assets/images/wf-' + bg + '-bg.png')
			background-position right bottom
			background-repeat no-repeat

	&__info
		margin-top -1em
		margin-left 1em

	&__input
		padding-bottom 20px

	&__heading
		padding-bottom 5px

.wf-row
	margin-left -10px
	margin-right -10px

	display table
	width calc(100% + 20px)

	.wf-col
		padding-left 10px
		padding-right 10px

		display table-cell

		&_bottom
			vertical-align bottom

		&_help
			padding-left 22px
			padding-right 12px

			width 149px

		&_small
			width 175px

		&_small-double
			width 350px

		&_wheelset
			padding 0

			width 68px

			vertical-align middle

.wf-tab
	white-space nowrap

	color #535353

	&__icon
		margin-right 14px

		display inline-block

		vertical-align middle

		for icon in 'car-model' 'discs' 'tires'
			&_{icon}
				sprite lookup('$wf-' + icon)

	&__label
		display inline-block

		vertical-align middle

		font-size 16px

	&__label-accent
		display block

		font-size 18px
		font-weight 700
		text-transform uppercase

.wf-wheelset
	sprite $wheelset
