.wf
	width 780px

	&__tab
		margin-left 1px
		margin-right 1px
		padding 14px 16px

		position relative

		flex-grow 1
		flex-basis 100%

		vertical-align middle

		border 3px solid transparent

		&:hover
			border-top-color $rushina-yellow

			&:before
			&:after
				content ''

				position absolute
				top -3px
				bottom 0

				display block
				width 3px

				background-image linear-gradient(to bottom, rgba($rushina-yellow,1), rgba($rushina-yellow,0))

			&:before
				left -3px

			&:after
				right -3px

		&:first-child
			padding-left 28px

		&:last-child
			padding-right 28px

		&_active
			background-color $rushina-light-gray
			border-color $rushina-yellow
			border-bottom none

	&__tabs
		margin-left -1px
		margin-right -1px

		position relative
		z-index 1

		display flex

		table-layout fixed

	&__body
		position relative

		margin-top -3px

		background-color $rushina-light-gray
		border 3px solid $rushina-yellow

		overflow hidden

.wf-body
	padding 28px

	position absolute
	top 0
	bottom 0
	left 0
	right 0
	z-index -5

	background-color $rushina-light-gray
	background-image url('../images/wf-bg.png')
	background-position right top
	background-repeat no-repeat
	opacity 0
	overflow hidden

	transform scale(0.75, 0.75)
	transition all .25s 0, z-index 0 .25s

	&_active
		position static

		opacity 1

		transform scale(1, 1)
		transition all .25s .25s, z-index 0

	&__image
		&:not(:last-child)
			margin-bottom 15px

		for img in 'disc-side' 'disc-top' 'tire-side' 'tire-top'
			&_{img}
				sprite lookup('$blueprint-' + img)

	&__info
		margin-top -1em
		margin-left 1em

	&__input
		padding-bottom 20px

		color black

	&__heading
		padding-bottom 5px

	&__help-heading
		padding-bottom 20px

.wf-row
	margin-left -10px
	margin-right -10px

	display table
	width calc(100% + 20px)

	.wf-col
		padding-left 10px
		padding-right 10px

		display table-cell

		&_bottom
			vertical-align bottom

		&_help
			padding-left 22px
			padding-right 12px

			width 149px

		&_small
			width 175px

		&_small-double
			width 350px

		&_wheelset
			padding 0

			width 68px

			vertical-align middle

.wf-tab
	white-space nowrap

	color #535353

	&__icon
		margin-right 14px

		display inline-block

		vertical-align middle

		for icon in 'car-model' 'discs' 'tires'
			&_{icon}
				sprite lookup('$wf-' + icon)

	&__label
		display inline-block

		vertical-align middle

		font-size 16px

	&__label-accent
		display block

		font-size 18px
		font-weight 700
		text-transform uppercase

.wf-wheelset
	sprite $wheelset
