.tire-card
	.tire-card__content.grid-module-6
		img.tire-card__img(src='assets/images/content/tire-card_img.png')
		.tire-card-play.tire-card-play_active
			+icon('icon_play').tire-card-play-icon
		.h4.tire-card-title
			|Replica<br> BMW FR1156
		.tire-card-caption
			|7x16 5/114.3 ET38
		.h2.tire-card-price
			.tire-card-price__num 3000
				+icon('1_RUB').tire-card-price__rub
		.tire-card-avaliable в наличии
		.tire-card__label.tire-card__label_discount.tire-card__label_active
			.tire-card__label_discount-caption Скидка!
