.tire-card
	.tire-card__content.tire-card__content_short.grid-module-6
		img.tire-card__img(src='assets/images/content/tire-card_img.png')
		.tire-card-play.tire-card-play_active
			+icon('icon_play').tire-card-play-icon
		.h4.tire-card-title
			|Replica<br> BMW FR1156
		.h2.tire-card-price
			.tire-card-price__num 3000
				+icon('1_RUB').tire-card-price__rub
		.tire-card__label.tire-card__label_new.tire-card__label_active
			.tire-card__label_new-caption Новинка
