extends ../../layouts/default

block head
	- var pageTitle = 'CSSSR Project Template';

block content
	h2.h2 ЧТО ВКЛЮЧЕНО

	h3.h3 Инструменты:
	+tools(getData('tools'))

	h2.h2 СТРУКТУРА ФАЙЛОВ

	.container
		.col
			h3.h3 Исходники
			+tree(getData('sourceTree'))

		.col
			.arrow-caption Компиляция
			.arrow

		.col
			h3.h3 Готовые файлы
			+tree(getData('buildTree'))

