.mark
	// padding-x 4px
	// text-shadow 1px 1px 1px rgba(255, 255, 255, .5)
	// background-color #eaeaea
	// border-radius 4px
	font-size 16px
	letter-spacing 0.17em
	// word-spacing 0.5em

	&::selection
		background-color rgba(0, 0, 0, .1)
