include ../helpers/variables
include ../helpers/mixins

+script([], ['debug.js', 'common.min.js'])

doctype html
html(lang='ru')
	include ../blocks/head
	body
		.main
			include ../blocks/header
			block content
			include ../blocks/footer

		include ../blocks/scripts
