include ../helpers/variables
include ../helpers/mixins

doctype html
html(lang='ru')
	include ../partials/head
	body
		.main
			include ../partials/header
			block content
			include ../partials/footer

		include ../partials/scripts
