include ../helpers/variables
include ../helpers/mixins

+script([], [
	'libs/jquery/dist/jquery.min.js',
	'libs/select2/select2.min.js',
	'libs/slick/slick/slick.min.js',
	'debug.js',
	'common.min.js'
])

doctype html
html(lang='ru')
	include ../partials/head
	body
		.main(class=mainModifier ? 'main_' + mainModifier : '')
			block page_content

		include ../partials/scripts
