.test
	margin 0 auto
	display block
	width 640px

	&__picture
		margin-top 50px
		display block
		width 100%

@media (max-width: 641px)
	.test
		margin 0 auto
		padding-x(16px)
		display block
		width 100%

		&__picture
			margin-top 16px
