include ../question/question
include ../result/result

mixin test(picSrc, picName, question)
	+b('main').test&attributes(attributes)
		block

		img(class='test__picture' src=picSrc alt=picName onerror="this.onerror=null; this.src='https://monosnap.com/file/KejcEMuS8qCMYZe9y2HNvNgWhHV6Gv'")

		if question
			+question(question, 5, 5)
		else
			+result
