mixin underline()
	+b.underline&attributes(attributes)
		+e('u').img(src='underline.png')
			
//- mixin underline(underline_length)
//- 	+b.underline&attributes(attributes)
//- 		each item in underline_length
//- 			if item.long
//- 				+e('u').img(src='underline_long.png')
//- 			else if item.normal
//- 				+e('u').img(src='underline.png')
