.underline
	position relative
	z-index 1
	display block
	// overflow hidden
	width 7em
	height 6em
	font-size 4px
	top -40px
	left 98px
	text-decoration none

	&__box
		position relative
		z-index 1
		// top -1.25em
		display block
		// overflow hidden
		width 7em
		height 7em
		transform rotate(-90deg)
		backface-visibility hidden

	&__line
		position absolute
		display block
		width 0.7em
		height 709px
		background-color currentColor
		box-shadow 0 0 1px rgba(#000, .25)

		+mobile()
			display none

		&_center_right
			left 253px
			top 31px
			height 646px

		&_top_left
			top -32px
			left 24px

		&_top_right
			top -32px
			left 82px

		&_center_left
			top 84px
			left 139px
			height 593px

		&_center_center
			top 45px
			left 195px
			height 632px

		&_bottom_left
			top 67px
			left -743px
			height 206px
