mixin underline()
	+b.underline&attributes(attributes)
		+e.box
			+e.line._top_left
			+e.line._top_right
			+e.line._center_left
			+e.line._center_right
			+e.line._center_center
			+e.line._bottom_left
