include mixins/scripts
include mixins/switch
include mixins/tree
include mixins/icon
include mixins/footer
include mixins/back-button
include mixins/your-cars
include mixins/buttons
include mixins/wheel-filter
include mixins/checkbox
include mixins/tire-cards
