mixin list(opts)
	-var opts = opts || {}
	-var defaultData = getBlockData(opts.getData)

	-var items = defaultData.items || opts.items || []

	-var modifiers = opts.mods || []
	-var ulClasses = ['list']
	-each modifier in modifiers
		-ulClasses.push(ulClasses[0] + '_' + modifier)


	-if (items.length)
		ul(class=classes)
			-each item in items
				-var liClasses = [ulClasses[0] + '__item']
				-var liMods = item.mods || []
				-each liMod in liMods
					-liClasses.push(liClasses[0] + '_' + liMod)

				li(class=liClasses)
					span.mark= item[0]
					= ' - ' + item[1]
	-else
		| No data for 'list' mixin
