include ../mark/mark
include ../bio/bio


mixin list(list)
	+b('ul').list&attributes(attributes)
		each item in list
			+e('li').item
				+mark #{ item[0] }
				//- |  &ndash; #{ item[1]}
				+bio #{ item[1] }
				
