.selector
	position relative
	display block
	margin 0 auto
	padding-top 24px
	padding-bottom 149px

	&__level
		// width 96%
		position: absolute
		top: 16px
		left: 9px

		+mobile()
			width 90%

	&__triangle
		position absolute
		top 22px
		left 161px
		width: 0;
		height: 0;
		border-left: 17px solid transparent;
		border-right: 14px solid transparent;
		border-top: 20px solid #996446;

		+mobile()
			border-left: 11px solid transparent;
			border-right: 11px solid transparent;
			top 8px
			left 71px
