include ../jscont/jscont
include ../column/column
include ../subtitle/subtitle

mixin selector()
	+b.selector&attributes(attributes)
		+e.level.img(src='selector.png')
		+e.triangle
		+e.select
			+jscont()
				

//- может быть заменить .box на .level, чтобы не пересекалось
