.selector
	position relative
	display block
	margin 0 auto
	padding-top 24px
	padding-bottom 149px

	&__level
		// width 96%
		position: absolute
		top: 16px
		left: 9px
		// margin-top: -50px; /* Half the height */
		// margin-left: -440px; /* Half the width */

	// &__select
	// 	position absolute
	// 	top 40px
	// 	left 0px
	//
	// 	.sel
	// 		// max-width 500px
	//
	// 	.little
	// 		font-size 16px
	// 		font-weight 400
	//
	// .column.uno
	// 	position absolute
	// 	top 50px
	// 	left 10px
	//
	// 	.dos
	//
	// 	.tres
	//
	// 	.quatro


// старая разметка, когда делал линии в css
// .selector
// 	position relative
// 	z-index 1
// 	display block
// 	// overflow hidden
// 	width 7em
// 	height 6em
// 	font-size 4px
// 	text-decoration none
// 	padding-y 50px
//
//
// 	&__level
// 		position relative
// 		z-index 1
// 		display block
// 		width 50px
// 		height 50px
// 		// backface-visibility hidden
// 		// transform rotate(-90deg)
// 		// background url(/selector.png)
//
// 	//
// 	// &__line
// 	//
// 	// 	position absolute
// 	// 	display block
// 	// 	width 3px
// 	// 	height 830px
// 	// 	top 20px
// 	// 	left 50px
// 	// 	background-color #333
// 	// 	// 	box-shadow 0 0 1px rgba(#000, .25)
// 	// 	// top 0px
// 	// 	// left 0px
// 	// 	// transform rotate (90deg)
//
//
//
//
//
//
//
// 		// &_grade
// 		// 	left 0px
// 		// 	top 0px
// 		// 	height 535p
// 		// 	transform rotate (90deg)
//
//
// 	// &__hatch
// 	// 	position absolute
// 	// 	display block
// 	// 	width 10px
// 	// 	height 200px
// 	// 	background-color #333
// 	// 	// box-shadow 0 0 1px rgba(#000, .25)
// 	//
// 	//
// 	//
// 	// 	&_left
// 	// 		left 130px
// 	// 		top 50px
// 	// 		height 535px
// 	//
// 	// 	&_left_center
// 	// 		left 130px
// 	// 		top 50px
// 	// 		height 535px
// 	//
// 	// 	&_right_center
// 	// 		left 130px
// 	// 		top 50px
// 	// 		height 535px
// 	//
// 	// 	&_right
// 	// 		left 130px
// 	// 		top 50px
// 	// 		height 535px
