head
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(charset='utf-8')
	meta(name='viewport', content='width=640')
	- if (isDev)
		link(href='css/main.css', rel='stylesheet')
	- else
		link(href='css/main.min.css', rel='stylesheet')
	title CSSSR Project Template