//- include ../subtitle/subtitle

mixin course()
	+b.course&attributes(attributes)
		.simple Выпускник
		+e('a').link(href='http://htmlacademy.ru' title="htmlacademy.ru") htmlacademy.ru
		+e('сo').img(src='round.png')
		| Да
		+e('сo').img(src='round_checked.png')
		| Нет
		
		
