.course
	display block
	position relative


	&__img
		// position absolute
		vertical-align middle

	.simple
		display inline-block
		padding-left 22px
		padding-right 10px

	&__link
		padding-right 10px
