.course
	display block
	position relative
	top -24px


	&__img
		// position absolute
		vertical-align middle
		padding-left 7px

	.simple
		display inline-block
		// padding-left 22px
		padding-right 5px
		font-size 16px
		// letter-spacing 0.17em

	&__link
		padding-right 14px
