.jscont
	display flex
	justify-content space-between

	.little
		font-size 14px


	.uno
		padding-x 10px

	.dos
		padding-x 100px

	.tres
		padding-x 90px

	.quatro
		padding-x 5px





	+mobile()
		justify-content center
		flex-direction column
