.jscont
	display flex
	justify-content space-between
	position relative

	.little
		font-size 14px


	.uno
		position absolute
		top 45px
		left -6px

		+mobile()
			top 20px


	.dos
		position absolute
		top 45px
		left 155px

		+mobile()
			left 50px
			top 60px
			width 50px

	.tres
		position absolute
		top 45px
		left 406px
		width 200px

		+mobile()
			left 160px
			top 20px
			width 60px

	.quatro
		position absolute
		top 45px
		left 605px
		width 170px

		+mobile()
			top 20px
			left 300px
			width 60px


	+mobile()
		justify-content center
		flex-direction column
