.jscont
	display flex
	justify-content space-between
	position relative

	.little
		font-size 14px


	.uno
		// padding-x 10px
		position absolute
		top 45px
		left -6px


	.dos
		position absolute
		top 45px
		left 155px
		// padding-x 100px

	.tres
		position absolute
		top 45px
		left 406px
		width 200px
		// padding-x 90px

	.quatro
		position absolute
		top 45px
		left 605px
		width 170px
		// padding-x 5px





	+mobile()
		justify-content center
		flex-direction column
