body
	color #757575
	font-family $text-fonts
	font-size 14px
	line-height 20px

$h
	font-family $heading-fonts
	font-weight bold

.h1
	@extend $h
	font-size 32px
	line-height 40px

.h2
	@extend $h
	font-size 26px
	line-height 40px

.h3
	@extend $h
	font-size 20px
	line-height 40px

.h4
	@extend $h
	font-size 16px

.h5
	@extend $h
	font-size 14px
