body
	padding-top 20px
	padding-bottom 20px
	color #000
	font-family cuprum, sans-serif
	background-color #f0f0f0
	background-image url(../images/chruch.png)
	cursor default

	+mobile()
		padding-top 0
		padding-bottom 0

.mark
	padding 0 4px
	font-weight bold
	text-shadow 1px 1px 1px rgba(255, 255, 255, .5)
	border-radius 4px
	background-color #e8e8e8

	&::selection
		background-color rgba(0, 0, 0, .1)
