html, body
    font-size 14px
    margin 0
    padding 0

.clear
    clear both

.floatL
    float left

.floatR
    float right

body
    background gray
    color #2f1b15
    font-family "PT Sans Bold"
    font-size 21px

header, section, footer
    background url("../images/pattern.jpg") repeat
    height auto
    margin 0 auto
    max-width 1000px
    min-width 640px
    width 100%

header
    padding 2% 3% 0.5%

section, footer
    padding-left 8.5%
    padding-right 8.5%

footer
	padding-bottom 70px
	padding-top 30px

