@font-face
	font-family 'Open Sans'
	src local('Open Sans'),
		url('../fonts/open-sans-400.woff') format('woff')
	font-style normal
	font-weight 400

@font-face
	font-family 'Open Sans'
	src local('Open Sans'),
		url('../fonts/open-sans-700.woff') format('woff')
	font-style normal
	font-weight 700

@font-face
	font-family 'PT Sans'
	src local('PT Sans'),
		local('PT Sans Regular'),
		url('../fonts/pt-sans-400.woff') format('woff')
	font-style normal
	font-weight 400

@font-face
	font-family 'PT Sans'
	src	local('PT Sans Italic'),
		url('../fonts/pt-sans-400i.woff') format('woff')
	font-style italic
	font-weight 400

@font-face
	font-family 'PT Sans'
	src local('PT Sans Bold'),
		url('../fonts/pt-sans-700.woff') format('woff')
	font-style normal
	font-weight 700

@font-face
	font-family 'PT Sans'
	src local('PT Sans Bold Italic'),
		url('../fonts/pt-sans-700i.woff') format('woff')
	font-style italic
	font-weight 700
