@font-face
	font-family 'Open Sans'
	src url('../fonts/open-sans-700.woff') format('woff')
	font-style normal
	font-weight 700

@font-face
	font-family 'PT Sans'
	src url('../fonts/pt-sans-400.woff') format('woff')
	font-style normal
	font-weight 400

@font-face
	font-family 'PT Sans'
	src url('../fonts/pt-sans-400i.woff') format('woff')
	font-style italic
	font-weight 400

@font-face
	font-family 'PT Sans'
	src url('../fonts/pt-sans-700.woff') format('woff')
	font-style normal
	font-weight 700

@font-face
	font-family 'PT Sans'
	src url('../fonts/pt-sans-700i.woff') format('woff')
	font-style italic
	font-weight 700
