*
    box-sizing border-box

a
    text-decoration none

img
    vertical-align middle

li
    list-style none

p, ul, h1, h2, h3, h4, h5, h6
    margin 0

ul
    padding 0

input:active, input:focus
    border none
    outline none


@media screen and (max-width: 1320px)
    section
        padding: 0 114px;



@media screen and (max-width: 910px)
    section
        padding: 0 7%;



