.index
	&__group
		margin-bottom 20px

	&__course
		display flex
		align-items baseline
		justify-content space-between
		max-width 500px
		margin-right 5px

	&__arrow
		margin-top 84px

		+mobile()
			margin-y 20px
