include ../content/content
include ../container/container
include ../subtitle/subtitle
include ../heading/heading
include ../list/list
include ../col/col
include ../arrow/arrow
include ../fork/fork
include ../tree/tree
include ../underline/underline
include ../text/text
include ../selector/selector
include ../course/course


mixin index()
	+b.index
		+content()
		
			.index__group
				+list(getData('tools'))
				+underline()
			
			.index__course
				//- +subtitle()
				//- 	| Выпускник
				+course()
				
			
			.index__group
				.simple
					| Практические навыки
				
				+text()
				
				
			+container()
				+col().first
					+tree(getData('source-tree-1'))

				+col().second
					+tree(getData('source-tree-2'))
					
				+col().third
					+tree(getData('source-tree-3'))
					
			.index__group
				.jssimple
					| Уровень владения JavaScript		
			
			+selector()
			
			
					
			+container()
				.index__group
					+list(getData('tools-1'))
