.index
	&__group

	.simple
		font-size 22px
		letter-spacing 0.17em
		// padding-bottom 5px

	.jssimple
		font-size 22px
		margin-left 12px

	&__course
		display flex
		align-items baseline
		justify-content space-between

		+mobile()
			margin-y 20px
			width 280px
