.index
	&__group
		// padding-left 48px
		// margin-bottom 20px

	.simple
		font-size 22px
		letter-spacing 0.17em

	.jssimple
		font-size 22px
		margin-left 12px

	&__course
		display flex
		align-items baseline
		justify-content space-between
		// max-width 500px
		// margin-right 5px

		+mobile()
			margin-y 20px
