include ../content/content
include ../container/container
include ../subtitle/subtitle
include ../heading/heading
include ../list/list
include ../col/col
include ../arrow/arrow
include ../fork/fork
include ../tree/tree

mixin index()
	+b.index
		+content()
			.index__group
				+subtitle()
					| ЧТО В КОРОБКЕ

			+heading()
				| Инструменты

			.index__group
				+list(getData('tools'))

			.index__group
				+subtitle()
					| СТРУКТУРА ФАЙЛОВ

			+container()
				+col()
					+heading()
						| Исходники
					+tree(getData('source-tree'))

				+col()
					.index__arrow
						+arrow()
							| Сборка

				+col()
					+heading()
						| Готовые файлы
					+tree(getData('build-tree'))

			+fork()
