.title
	position relative
	// padding 20px
	font-family cuprum
	font-size 10px
	line-height 1

	// text-align center

	&__company
		position absolute
		top 60px
		left 45px
		// font-size 0
		// opacity 0

	.low
		position absolute
		font-size 8pt
		top 109px
		left 51px
		margin-top -12px
	// &__logo
	// 	width 84px
	// 	height 20px

// понять, почему margin-top текста на 12 больше, пока ставлю на -12, чтобы поднять
