include ../helpers/mixins/promo-slider

+promo-slider().advantages__slider
	img(src='/assets/images/content/advantages-4.jpg')
	img(src='/assets/images/content/advantages-3.jpg')
	img(src='/assets/images/content/advantages-2.jpg')
	img(src='/assets/images/content/advantages-1.jpg')
