.aside-filter
	.aside-filter__block
		.aside-filter__title
			.h5.h_upcase Сезонность

		.aside-filter__item
			+checkbox() Летние (25)

		.aside-filter__item
			+checkbox() Зимние (19)

		.aside-filter__item
			+checkbox() Всесезонные (34)

	.aside-filter__block.js-filter-checkbox
		.aside-filter__title
			.h5.h_upcase Производители

		.js-collapsable
			.aside-filter__item
				+checkbox() Continental (1)

			.aside-filter__item
				+checkbox() Matador (10)

			.aside-filter__item
				+checkbox() Michelin (10)

			.aside-filter__item
				+checkbox()(disabled) Hankook

			.aside-filter__item
				+checkbox() Kumho (2)

			.aside-filter__item
				+checkbox() Kumho (2)

			.aside-filter__item
				+checkbox() Kumho (2)

			.aside-filter__item
				+checkbox() Kumho (2)

			.aside-filter__item
				+checkbox() Kumho (2)

			.aside-filter__item
				+checkbox() Kumho (2)

			.aside-filter__item
				+checkbox() Kumho (2)

			.aside-filter__item
				+checkbox() Kumho (2)

			.aside-filter__item
				+checkbox() Kumho (2)

			.aside-filter__item
				+checkbox() Kumho (2)

	.aside-filter__block
		.aside-filter__title
			.h5.h_upcase Технологии

		.aside-filter__item
			+checkbox() Runflat (21)
			.info
				.info__btn.btn.btn_info(tabindex=0): +icon('info').btn__icon.btn__icon_info
				.info__tooltip
					.tooltip sdfsdf
