.aside-filter
	.aside-filter__block
		.aside-filter__title Сезонность
		.aside-filter__checkbox-item
			+checkbox()(class="aside-filter__checkbox") Летние (25)
		.aside-filter__checkbox-item
			+checkbox()(class="aside-filter__checkbox") Зимние (19)
		.aside-filter__checkbox-item
			+checkbox()(class="aside-filter__checkbox") Всезонные (34)

	.aside-filter__block.js-filter-checkbox
		.aside-filter__title Производители

		.js-filter-checkbox-container
			.aside-filter__checkbox-item
				+checkbox()(class="aside-filter__checkbox") Continental (1)
			.aside-filter__checkbox-item
				+checkbox()(class="aside-filter__checkbox") Matador (10)
			.aside-filter__checkbox-item
				+checkbox()(class="aside-filter__checkbox") Michelin (10)
			.aside-filter__checkbox-item
				+checkbox()(disabled class="aside-filter__checkbox") Hankook
			.aside-filter__checkbox-item
				+checkbox()(class="aside-filter__checkbox") Kumho (2)
			.aside-filter__checkbox-item
				+checkbox()(class="aside-filter__checkbox") Kumho (2)
			.aside-filter__checkbox-item
				+checkbox()(class="aside-filter__checkbox") Kumho (2)
			.aside-filter__checkbox-item
				+checkbox()(class="aside-filter__checkbox") Kumho (2)
			.aside-filter__checkbox-item
				+checkbox()(class="aside-filter__checkbox") Kumho (2)
			.aside-filter__checkbox-item
				+checkbox()(class="aside-filter__checkbox") Kumho (2)
			.aside-filter__checkbox-item
				+checkbox()(class="aside-filter__checkbox") Kumho (2)

		a.aside-filter__show.js-filter-checkbox-open(data-status="hide" data-show="Показать всех" data-hide="Скрыть")

	.aside-filter__block
		.aside-filter__title Технологии
		.aside-filter__checkbox-item.aside-filter__info
			+checkbox()(class="aside-filter__checkbox")
				| Runflat (21)
			.info
				.info__btn.btn.btn_info(tabindex=0): +icon('info').btn__icon
				.info__tooltip
					.tooltip sdfsdf
