.best-brands
	.grid
		.best-brands__info.grid-module-3
			.h3.best-brands-title Лучшие торговые марки
			.best-brands-caption
				|У нас самый большой выбор именитых шин и дисков на складе и мы готовы доставить их в течение 1-3 дней.

		.best-brands__content.js-slick
			.best-brands__nav
				.best-brands__btn-group
					.best-brands__btn.best-brands__btn_arrow.slider-arrow.js-slick__next
					.best-brands__btn.best-brands__btn_arrow.slider-arrow.slider-arrow_left.js-slick__prev
				.best-brands__btn-group
					a.btn.best-brands__btn.btn(href='#') Все бренды дисков
					a.btn.best-brands__btn.btn(href='#') Все бренды шин
			.best-brands__slider.js-slick__content
				.best-brands__item
					img.best-brands__image(src='/assets/images/content/best-brands/yokohama.png' alt='Yokohama')
				.best-brands__item
					img.best-brands__image(src='/assets/images/content/best-brands/nokian-tyres.png' alt='Nokian Tyres')
				.best-brands__item
					img.best-brands__image(src='/assets/images/content/best-brands/bridgestone.png' alt='Bridgestone')
				.best-brands__item
					img.best-brands__image(src='/assets/images/content/best-brands/goodyear.png' alt='Goodyear')
