.best-brands
	.cols
		.col
			.grid-module-4
				.h2.h_upcase Лучшие торговые марки
				.best-brands__text
					p У нас самый большой выбор именитыхи шин и дисков на складе и мы готовы доставить их в течение 1-3 дней.
		.col
			.grid-module-8
				+marquee({}, [
					'Все бренды дисков',
					'Все бренды шин'
				]).best-brands
					each i in Array(3)
						li.best-brands__slide
							a(href=jv0)
								img(src='/assets/images/content/best-brands/yokohama.png' alt='Yokohama')
						li.best-brands__slide
							a(href=jv0)
								img(src='/assets/images/content/best-brands/nokian-tyres.png' alt='Nokian Tyres')
						li.best-brands__slide
							a(href=jv0)
								img(src='/assets/images/content/best-brands/bridgestone.png' alt='Bridgestone')
						li.best-brands__slide
							a(href=jv0)
								img(src='/assets/images/content/best-brands/goodyear.png' alt='Goodyear')
