.best-brands
	.grid
		.best-brands__info.grid-module-3
			.h3.best-brands-title Лучшие торговые марки
			.best-brands-caption
				|У нас самый большой выбор именитых шин и дисков на складе и мы готовы доставить их в течение 1-3 дней.

		.best-brands__content
			.best-brands__nav
				.best-brands__btn-group
					.best-brands__btn.best-brands__btn_arrow.slider-arrow
					.best-brands__btn.best-brands__btn_arrow.slider-arrow.slider-arrow_left.slider-arrow_inactive
				.best-brands__btn-group
					a.btn.best-brands__btn.btn(href='#') Все бренды дисков
					a.btn.best-brands__btn.btn(href='#') Все бренды шин
			.best-brands__logo
				.col.grid-module-6.best-brands__item.best-brands__item_yokohama
				.col.grid-module-6.best-brands__item.best-brands__item_nokian-tyres
				.col.grid-module-6.best-brands__item.best-brands__item_bridgestone
				.col.grid-module-6.best-brands__item.best-brands__item_good-year
