.big-description
	h3.big-description__title.h3.h_upcase Технологии
	ul.big-description__list
		li.big-description__list-item
			p
				|За счет значительно сниженного сопротивления качению, обеспечивают экономию топлива на 12,3 %.
			.big-description__imgwrap
				img.big-description__img(src="/assets/images/content/tech-fuel_economy.png", alt="")
		li.big-description__list-item
			p
				|Обладают бескомпромиссными показателями на влажном покрытии.
			.big-description__imgwrap
				img.big-description__img(src="/assets/images/content/tech-wet_ground.png", alt="")
		li.big-description__list-item
			p
				|Улучшен срок службы.
			.big-description__imgwrap
				img.big-description__img(src="/assets/images/content/tech-comparison.png", alt="")
