.brand-list
	.brand-list__caption Выберите марку
	.brand-list__table
		.brand-list__column
			+brandItems([
				['acura', 'Acura'],
				['alfa-romeo', 'Alfa Romeo'],
				['aston-martin', 'Aston Martin'],
				['audi', 'Audi'],
				['bmw', 'BMW'],
				['bentley', 'Bentley'],
				['cadillac', 'Cadillac'],
				['chery', 'Chery'],
				['chevrolet', 'Chevrolet'],
				['chrysler', 'Chrysler'],
				['citroen', 'Citroen'],
				['daewoo', 'Daewoo'],
				['daihatsu', 'Daihatsu'],
				['dodge','Dodge']
			])
		.brand-list__column
			+brandItems([
				['ferrari', 'Ferrari'],
				['fiat', 'Fiat'],
				['ford', 'Ford'],
				['geely', 'Geely'],
				['greatwall', 'Greatwall'],
				['honda', 'Honda'],
				['hummer', 'Hummer'],
				['hyundai', 'Hyundai'],
				['infiniti', 'Infiniti'],
				['iran-khodro', 'Iran Khodro'],
				['isuzu', 'Isuzu'],
				['iveco', 'Iveco'],
				['jaguar', 'Jaguar'],
				['jeep', 'Jeep']
			])
		.brand-list__column
			+brandItems([
				['acura', 'Acura'],
				['alfa-romeo', 'Alfa Romeo'],
				['aston-martin', 'Aston Martin'],
				['audi', 'Audi'],
				['bmw', 'BMW'],
				['bentley', 'Bentley'],
				['cadillac', 'Cadillac'],
				['chery', 'Cherry'],
				['chevrolet', 'Chevrolet'],
				['chrysler', 'Chrysler'],
				['citroen', 'Citroen'],
				['daewoo', 'Daewoo'],
				['daihatsu', 'Daihatsu'],
				['dodge','Dodge']
			])
		.brand-list__column
			+brandItems([
				['ferrari', 'Ferrari'],
				['fiat', 'Fiat'],
				['ford', 'Ford'],
				['geely', 'Geely'],
				['greatwall', 'Greatwall'],
				['honda', 'Honda'],
				['hummer', 'Hummer'],
				['hyundai', 'Hyundai'],
				['infiniti', 'Infiniti'],
				['iran-khodro', 'Iran Khodro'],
				['isuzu', 'Isuzu'],
				['iveco', 'Iveco'],
				['jaguar', 'Jaguar'],
				['jeep', 'Jeep']
			])
