.consult-manager
	img.consult-manager__image(src='/assets/images/manager-photo.png')
	.consult-manager__contact
		.consult-manager__person
			span.consult-manager__job Ваш менеджер:
			span.consult-manager__name Константин Федоров
		.consult-manager__phone +7(495) 345-67-89
