.countdown
	.countdown__title
		.countdown__img
		span Успейте купить шины и диски по выгодной цене

	.countdown-clock
		.countdown-clock__title
			.h5 До конца акции осталось:
		.countdown-clock__body.js-countdown-clock
