.feedback
	.feedback__item
		+icon('menu_02_headphone').feedback__icon
		span.feedback__label Онлайн-консультант

	.feedback__item
		+icon('menu_01_review').feedback__icon.feedback__icon_support
		span.feedback__label Письмо в поддержку

	.feedback__item
		+icon('menu_02_letter').feedback__icon.feedback__icon_boss
		span.feedback__label Письмо директору

	.feedback__item
		+icon('menu_02_box').feedback__icon.feedback__icon_order
		span.feedback__label Узнать статус заказа
