ul.feedback
	li.feedback__item
		a(href=jv0).feedback__link
			+icon('menu_02_headphone').feedback__icon
			span.feedback__label Онлайн-консультант

	li.feedback__item
		a(href=jv0).feedback__link
			+icon('menu_01_review').feedback__icon.feedback__icon_support
			span.feedback__label Письмо в поддержку

	li.feedback__item
		a(href=jv0).feedback__link
			+icon('menu_02_letter').feedback__icon.feedback__icon_boss
			span.feedback__label Письмо директору

	li.feedback__item
		a(href=jv0).feedback__link
			+icon('menu_02_box').feedback__icon.feedback__icon_order
			span.feedback__label Узнать статус заказа
