.feedback
	.feedback__item
		+icon('menu_02_headphone')(class='feedback__icon')
		span.feedback__label Онлайн-консультант

	.feedback__item
		+icon('menu_01_review')(class='feedback__icon')
		span.feedback__label Оставить отзыв

	.feedback__item
		+icon('menu_02_letter')(class='feedback__icon')
		span.feedback__label Письмо директору

	.feedback__item
		+icon('menu_02_box')(class='feedback__icon')
		span.feedback__label Узнать статус заказа