.filter-steps
	.filter-steps__step.filter-steps__step_passed
		img(src='/assets/images/content/brand-logos/brand-list-ford.png').filter-steps__step-img
		span.filter-steps__step-content Ford

	.filter-steps__delimiter
		+icon('icon_arrow').filter-steps__delimiter-icon

	.filter-steps__step.filter-steps__step_two.filter-steps__step_active
		span.filter-steps__step-content Выбор модели

	.filter-steps__delimiter
		+icon('icon_arrow').filter-steps__delimiter-icon

	.filter-steps__step.filter-steps__step_three
		span.filter-steps__step-content Результаты подбора
