.filter-steps
	.filter-steps__step
		span.filter-steps__step-content Выбор марки

	.filter-steps__delimiter
		+icon('icon_arrow').filter-steps__delimiter-icon

	.filter-steps__step.filter-steps__step_two
		span.filter-steps__step-content Выбор модели

	.filter-steps__delimiter
		+icon('icon_arrow').filter-steps__delimiter-icon

	.filter-steps__step.filter-steps__step_three
		span.filter-steps__step-content Результаты подбора
