.form-size
	.form-size__remark В данном каталоге приведены размеры шин и дисков, рекомендованные заводом Ford для установки на модель Focus 2012 года производства.
	.form-size__table
		.form-size__tires
			.table-size
				.table-size__caption.table-size__caption_no-common Шины
				.table-size__common
				.table-size__table
					.table-size__table-header
						.table-size__left-header Передняя ось/обе оси
						.table-size__right-header Задняя ось
					.table-size__content

						.size-item
							.size-item__caption R16
							.size-item__type-block
								.size-item__type-name Заводская
								.size-item__forward-models
									a(href = 'javascript:void(0)').size-item__model 205/55R16
									a(href = 'javascript:void(0)').size-item__model 255/55R16
									a(href = 'javascript:void(0)').size-item__model 205/55R16
							.size-item__type-block
								.size-item__type-name Тюннинг
								.size-item__forward-models
									a(href = 'javascript:void(0)').size-item__model 205/55R16

						.size-item
							.size-item__auto-img
							.size-item__caption R17
							.size-item__type-block
								.size-item__type-name &nbsp;
								.size-item__forward-models
									a(href = 'javascript:void(0)').size-item__model 205/55R17
									a(href = 'javascript:void(0)').size-item__model 205/55R17
								.size-item__rear-models
									a(href = 'javascript:void(0)').size-item__model 205/55R17

						.size-item
							.size-item__caption R18
							.size-item__type-block
								.size-item__type-name &nbsp;
								.size-item__forward-models
									a(href = 'javascript:void(0)').size-item__model 205/55R17
									a(href = 'javascript:void(0)').size-item__model 255/55R17

			a(href = 'javascript:void(0)') Как найти свой размер шин?

			.form-size__attention
				.form-size__attention-caption Внимание!!!
				.form-size__attention-content.
					В случае, если Ваш автомобиль находиться на гарантии автосалона и Вы намерены установить шины или диски, отличные по типоразмеру от существующих, мы настоятельно рекомендуем прокунсультироваться на предмет сохранения гарантийного обслуживания Вашего автомобиля после такой замены.

		.form-size__discs

			.table-size
				.table-size__caption Диски
				.table-size__common
					.table-size__common-title Общие параметры
					.table-size__common-content
						.table-size__common-param
							span.table-size__common-param-name PCD:
							span.table-size__common-param-value 5*108
						.table-size__common-param
							span.table-size__common-param-name DIA:
							span.table-size__common-param-value 63.3 мм
						.table-size__common-param
							span.table-size__common-param-name Гайка:
							span.table-size__common-param-value 12*1.5

				.table-size__table
					.table-size__table-header
						.table-size__left-header Передняя ось/обе оси
						.table-size__right-header Задняя ось
					.table-size__content

						.size-item
							.size-item__caption R16
							.size-item__type-block
								.size-item__type-name Заводская
								.size-item__forward-models
									a(href = 'javascript:void(0)').size-item__model 26.5 x 16 ET52.5
									a(href = 'javascript:void(0)').size-item__model 7 x 16 ET42
									a(href = 'javascript:void(0)').size-item__model 6.5 x 16 ET52.5
							.size-item__type-block
								.size-item__type-name Тюннинг
								.size-item__forward-models
									a(href = 'javascript:void(0)').size-item__model 6.5 x 16 ET52.5

						.size-item
							.size-item__auto-img.size-item__auto-img_right
							.size-item__caption R17
							.size-item__type-block
								.size-item__type-name &nbsp;
								.size-item__forward-models
									a(href = 'javascript:void(0)').size-item__model 26.5 x 16 ET52.5
									a(href = 'javascript:void(0)').size-item__model 7 x 16 ET42
								.size-item__rear-models
									a(href = 'javascript:void(0)').size-item__model 26.5 x 16 ET52.5

						.size-item
							.size-item__caption R18
							.size-item__type-block
								.size-item__type-name &nbsp;
								.size-item__forward-models
									a(href = 'javascript:void(0)').size-item__model 7.5 x 18 ET45
									a(href = 'javascript:void(0)').size-item__model 7.5 x 18 ET45

			a(href = 'javascript:void(0)') Как найти свой размер дисков?

			.form-size__consult
				.form-size__consult-caption Нужна консультация?
				.form-size__consult-content Просто позвоните нашим специалистам по телефону:
					.form-size__consult-phone-block
						+icon('contact_1_tel').form-size__consult-phone-icon
						.form-size__consult-phone-label Телефон:
						.form-size__consult-phone-number +7 (495) 123-45-67
