header.header
	.header__wraper.header__wraper_fix
		.header__contacts
			+icon('1_logo_light').header__logo
			.header__contact
				include consult-number


		.header__tab
			+icon('menu_1_clock').header__icon.header__icon_type-nolabel
			.header__container
				include opening-hours

		.header__tab
			.header__icon-wrap
				+icon('icon_menu').header__icon.header__icon_type-nolabel

		.header__tab.header__tab_type-
			.header__icon-wrap
				+icon('menu_01_car').header__icon
			span.header__label Ford Focus III Hatchback

		.header__tab
			.header__icon-wrap
				+icon('menu_01_compare').header__icon.header__icon_type-nolabel
				span.header__counter 7

		.header__tab
			.header__icon-wrap
				+icon('menu_01_seen').header__icon.header__icon_type-nolabel
				span.header__counter 20

		.header__tab
			.header__icon-wrap
				+icon('menu_01_feedback').header__icon.header__icon_type-nolabel
			.header__container
				include feedback

		.header__tab
			+icon('menu_01_login').header__icon.header__icon_type-nolabel

		.header__tab.header__tab_type-cart
			.header__icon-wrap
				+icon('menu_01_cart')(class='header__icon')
				span.header__counter 2
			span.header__label.header__label_type-currency 20 000
				+icon('1_RUB')(class='currency')
