header.header
	.header__wraper.header__wraper_flow
		.header__tab.header__tab_type-logo
			+icon('1_logo_light')(class='header__logo')
			.header__contact
				include consult-number
				
		
		.header__tab
			+icon('menu_1_clock')(class='header__icon header__icon_type-nolabel')
		
		.header__tab
			+icon('icon_menu')(class='header__icon header__icon_type-nolabel')

		.header__tab
			+icon('menu_01_car')(class='header__icon')
			span.header__label Ford Focus III Hatchback

		.header__tab
			+icon('menu_01_compare')(class='header__icon header__icon_type-nolabel')

		.header__tab
			+icon('menu_01_seen')(class='header__icon header__icon_type-nolabel')

		.header__tab
			+icon('menu_01_feedback')(class='header__icon header__icon_type-nolabel')

		.header__tab
			+icon('menu_01_login')(class='header__icon header__icon_type-nolabel')

		.header__tab
			+icon('menu_01_cart')(class='header__icon header__icon_type-nolabel')