.last-viewed-products
	.last-viewed-products-slider
		.last-viewed-products-slider__left-switch.slick-prev
		.last-viewed-products-slider__right-switch.slick-next
		.last-viewed-products-slider__container.slick-slide
			.last-viewed-products-slider__item
			.last-viewed-products-slider__item
			.last-viewed-products-slider__item
			.last-viewed-products-slider__item
			.last-viewed-products-slider__item
			.last-viewed-products-slider__item
			.last-viewed-products-slider__item
			.last-viewed-products-slider__item
