.main-menu
	.main-menu__wrap.grid.main-menu__wrap_shadow
		.main-menu__tab.main-menu__tab_home.main-menu__tab_active
			+icon('icon_home').main-menu__home-icon
		.main-menu__tab.main-menu__tab_company О компании
		.main-menu__tab.main-menu__tab_tires Шины
			+icon('icon_menu_open').main-menu__arrow
		.main-menu__tab.main-menu__tab_discs Диски
			+icon('icon_menu_open').main-menu__arrow
		.main-menu__tab.main-menu__tab_service Сервис
		.main-menu__tab.main-menu__tab_delivery Доставка и оплата
		.main-menu__tab.main-menu__tab_credit Покупка в кредит
		.main-menu__tab.main-menu__tab_info Полезная информация
		.main-menu__tab.main-menu__tab_stretch Контакты
