.main-menu.main-menu_header
	.main-menu__wrap.main-menu__wrap_header.grid
		.main-menu__tab.main-menu__tab_header.main-menu__tab_home-header
			+icon('icon_home').main-menu__home-icon.main-menu__home-icon_header
		.main-menu__tab.main-menu__tab_header.main-menu__tab_company О компании
		.main-menu__tab.main-menu__tab_header.main-menu__tab_tires-header Шины
			+icon('icon_menu_open').main-menu__arrow.main-menu__arrow_header
		.main-menu__tab.main-menu__tab_header.main-menu__tab_discs-header Диски
			+icon('icon_menu_open').main-menu__arrow.main-menu__arrow_header
		.main-menu__tab.main-menu__tab_header.main-menu__tab_service Сервис
		.main-menu__tab.main-menu__tab_header.main-menu__tab_delivery-header Доставка и оплата
		.main-menu__tab.main-menu__tab_header.main-menu__tab_credit Покупка в кредит
		.main-menu__tab.main-menu__tab_header.main-menu__tab_info Полезная информация
		.main-menu__tab.main-menu__tab_header.main-menu__tab_stretch Контакты

