.block-basic-info
	p.block-basic-info__string
		span.block-basic-info__string-name
			| Полное ФИО
		input.block-basic-info__string-line-underscores(value='Санин Михаил Евгеньевич')
	p.block-basic-info__string
		span.block-basic-info__string-name
			| Год рождения
		input.block-basic-info__string-line-underscores(value='1991')
	p.block-basic-info__string
		span.block-basic-info__string-name
			| Место жительства
		input.block-basic-info__string-line-underscores(value='г. Чебоксары, Россия')
	p.block-basic-info__string
		span.block-basic-info__string-name
			| Скайп
		input.block-basic-info__string-line-underscores-2(value='saninmihail27')
	p.block-basic-info__string
		span.block-basic-info__string-name
			| Почта
		input.block-basic-info__string-line-underscores-2(value='yarkaic@gmail.com')
	p.block-basic-info__string
		span.block-basic-info__string-name
			| Выпускник
			a.block-basic-info__string_link(href='https://htmlacademy.ru/') htmlacademy.ru
		span.wrap-radio-checkbox
			input#yesHhtmlacademy.pluginRadioCheckbox(type='radio', name='htmlAcademy')
			label(for='yesHhtmlacademy') Да
		span.wrap-radio-checkbox
			input#noHhtmlacademy.pluginRadioCheckbox2(type='radio', name='htmlAcademy', checked='')
			label(for='noHhtmlacademy') Нет
.block-practical-sills
	p.block-practical-sills__title
		| Практические навыки
	p.block-practical-sills__introduction
		span *
		span
			| Отметьте только те технологии и типы задач, с которыми вы хорошо знакомы. Отсутствие опыта отнюдь не
			| означает, что у вас меньше шансов стать нашим сотрудником. Это означает, что вы будете получать те задачи,
			| с которыми гарантировано будете справляться.
	.clear
	ul.list-of-skills
		li
			ul.list-of-skills__column
				li
					input.pluginCheckbox(type='checkbox', checked='')
					span Методология БЭМ
				li
					input.pluginCheckbox(type='checkbox', checked='')
					span jQuery
				li
					input.pluginCheckbox(type='checkbox')
					span Использую GRUNT
				li
					input.pluginCheckbox(type='checkbox')
					span HAML
				li
					input.pluginCheckbox(type='checkbox')
					span SASS
				li
					input.pluginCheckbox(type='checkbox', checked='')
					span LESS
				li
					input.pluginCheckbox(type='checkbox')
					span CoffeeScript
		li
			ul.list-of-skills__column
				li
					input.pluginCheckbox(type='checkbox', checked='')
					span Jade
				li
					input.pluginCheckbox(type='checkbox', checked='')
					span Stylus
				li
					input.pluginCheckbox(type='checkbox')
					span Знаю (Изучаю) Angular
				li
					input.pluginCheckbox(type='checkbox', checked='')
					span Вёрстка под Android
				li
					input.pluginCheckbox(type='checkbox', checked='')
					span Вёрстка под IOS
				li
					input.pluginCheckbox(type='checkbox', checked='')
					span Вёрстка под Windows Phone
		li
			ul.list-of-skills__column
				li
					input.pluginCheckbox(type='checkbox', checked='')
					span Вёрстка рассылок
				li
					input.pluginCheckbox(type='checkbox', checked='')
					span Адаптивная вёрстка
				li
					input.pluginCheckbox(type='checkbox', checked='')
					span Использую Dropbox
				li
					input.pluginCheckbox(type='checkbox', checked='')
					span Использую Gmail
				li
					input.pluginCheckbox(type='checkbox', checked='')
					span Использую GitHub
	.clear

.wrap-slider
	p.wrap-slider__title
		| Уровень владения Javascript
	.wrapThumb
		.thumb
	.slider
	.wrap-designation-slider
		.block-designation-slider-1
			i
			p Не владею
		.block-designation-slider-2
			i
			p Использую готовые решения
		.block-designation-slider-3
			i
			p Использую готовые решения и умею их переделывать
		.block-designation-slider-4
			i
			p Пишу сложные скрипты
	.clear