.model-list
	.model-list__caption Выберите модель
	.model-list__table
		.model-list__column
			.model-list__item
				span.model-list__model-name Ford B-Max C 2012 г.
			.model-list__item
				span.model-list__model-name Ford С-Max
			.model-list__item
				span.model-list__model-name Ford Focus III
			.model-list__item
				span.model-list__model-name Ford Fusion
			.model-list__item
				span.model-list__model-name Ford Galaxy
			.model-list__item
				span.model-list__model-name Ford Grand C-Max C 2010 г.
			.model-list__item
				span.model-list__model-name Ford Kuga
		.model-list__column
			.model-list__item
				span.model-list__model-name Ford Maverick
			.model-list__item
				span.model-list__model-name Ford Mondeo
			.model-list__item
				span.model-list__model-name Ford Ranger
			.model-list__item
				span.model-list__model-name Ford S-Max
			.model-list__item
				span.model-list__model-name Ford Sierra
			.model-list__item
				span.model-list__model-name Ford Tourneo Connect
			.model-list__item
				span.model-list__model-name Ford Tourneo Custom
		.model-list__column
			.model-list__item
				span.model-list__model-name Ford Transit
			.model-list__item
				span.model-list__model-name Ford Transit Connect
			.model-list__item
				span.model-list__model-name Ford Transit Custom (PCD 5x160)
			.model-list__item
				span.model-list__model-name Ford Transit Tourneo
			.model-list__item
				span.model-list__model-name Ford Explorer
			.model-list__item
				span.model-list__model-name Ford Fiesta
			.model-list__item
				span.model-list__model-name Ford Focus
		.model-list__column
			.model-list__item
				span.model-list__model-name Ford Focus II
