article.news-card.grid-module-3
	img.news-card__photo(src='assets/images/content/news_photo-1.png')
	time.news-card__date(datetime='2014-06-2014') 2 Июня 2014
	h1.h4.news-card__title
		a.news-card__link(href='javascript:void(0)') Federal строит 2-ой завод на&nbsp;Тайване
	.news-card__text
		p ЭССЕН, Германия (29 мая 2014 г.) &mdash; Тайваньский производитель шин Federal Corp. приобрёл землю в районе города  Тайюань, Тайвань для постройки второй фабрики в этом регионе. Однако новое сооружение не...
