.note-info
	.note-info-bl
		.note-info-bl__icon-wrapper
			+icon('1_icon_book').note-info-bl__icon
		h5.note-info-bl__title.h5 СПРАВОЧНАЯ ИНФОРМАЦИЯ
		ul.note-info-bl__list
			li
				a(href= 'javascript:void') Маркировка колес
			li
				a(href= 'javascript:void') Что такое вылет?
			li
				a(href= 'javascript:void') Технологии производства колес
			li
				a(href= 'javascript:void') Маркировка автомобильных шин
			li
				a(href= 'javascript:void') Конструкция шины
			li
				a(href= 'javascript:void') Все статьи
	.note-info__tire-info
		h5.note-info__tire-title.h5 Купить шины BRIDGESTONE
		.note-info__tire-text
			|Миссия группы компаний Бриджстоун основывается на философии её основателя: «Служение обществу товара&shy;ми наивысшего качества». Для выполнения этой миссии группа компаний Бриджсто&shy;ун использовала понятие «Принципы», чтобы продемонстрировать неизменную приверженность сотрудников идее предоставления для клиентов товаров и услуг мирового класса и «служить обществам», в которых Бриджстоун ведет свой бизнес. Слова основателя, общая корпоративная культура и наше многообразие, унаследованные компанией, воплотились в новой «Философии Бриджстоун» и единой системе ценностей, которые будут объединять сотрудников Бриджстоун по всему миру.
