.opening-hours
	span.opening-hours__caption Режим работы операторов:

	.opening-hours__timeframe
		ul.opening-hours__days-list
			- for (var x = 0; x < 5; x++)
				li.opening-hours__days
			li.opening-hours__days.opening-hours__days_suturday
			li.opening-hours__days.opening-hours__days_sunday

		.opening-hours__scope
			.opening-hours__weekdays-scope
			.opening-hours__saturday-scope
		.opening-hours__weekdays - 9:00-19:00
		.opening-hours__weekend 10:00-18:00
