.pagination

	//
		.pagination__arrow.pagination__arrow_left
			.slider-arrow.slider-arrow_left

	span.pagination__item 1
	span.pagination__item 2
	span.pagination__item 3
	span.pagination__item 4

	.pagination__arrow
		.slider-arrow

	.pagination__all
		a.btn(href = 'javascript:void(0)').pagination__all-btn Все предложения
