.product-compare

	.product-compare__slider
		.compare-slider.js-slick(
				data-show = 5
				data-scroll = 5
			)
			.compare-slider__left-switch.js-slick__prev
			.compare-slider__right-switch.js-slick__next
			.compare-slider__container.js-slick__container

				div
					.compare-slider__item
						.compare-slider__close-btn
						+tire-card({
							type:'menu',
							goods:'tire',
							img:'assets/images/content/tire-card_img.png',
							title:'Replica<br> BMW FR1156',
							caption:'7x16 5/114.3 ET38',
							price:'3000',
							avaliable:'true',
							play:'true'
						})
				div
					.compare-slider__item
						.compare-slider__close-btn
						+tire-card({
							type:'menu',
							goods:'tire',
							img:'assets/images/content/tire-card_img.png',
							title:'Dunlop<br> SP Sport BluResource',
							caption:'7x16 5/114.3 ET38',
							price:'2500',
							avaliable:'true',
							play:'true'
						})
				div
					.compare-slider__item
						.compare-slider__close-btn
						+tire-card({
							type:'menu',
							goods:'tire',
							img:'assets/images/content/tire-card_img.png',
							title:'Replica<br> H Ki11H',
							caption:'7x16 5/114.3 ET38',
							price:'1700',
							avaliable:'true',
							play:'true',
							label:'discount'
						})
				div
					.compare-slider__item
						.compare-slider__close-btn
						+tire-card({
							type:'menu',
							goods:'tire',
							img:'assets/images/content/tire-card_img.png',
							title:'Pirelli<br> P ZERO',
							caption:'7x16 5/114.3 ET38',
							price:'2000',
							avaliable:'true',
							play:'true'
						})
				div
					.compare-slider__item
						.compare-slider__close-btn
						+tire-card({
							type:'menu',
							goods:'tire',
							img:'assets/images/content/tire-card_img.png',
							title:'Replica<br> H Ki11H',
							caption:'7x16 5/114.3 ET38',
							price:'1700',
							avaliable:'true',
							play:'true',
							label:'discount'
						})
				div
					.compare-slider__item
						.compare-slider__close-btn
						+tire-card({
							type:'menu',
							goods:'tire',
							img:'assets/images/content/tire-card_img.png',
							title:'Replica<br> H Ki11H',
							caption:'7x16 5/114.3 ET38',
							price:'1700',
							avaliable:'true',
							play:'true',
							label:'discount'
						})
				div
					.compare-slider__item.compare-slider__item_add
						span.compare-slider__add-label Добавьте товар<br> в сравнение

		.product-compare__controls
			.product-compare__submit
				button.btn.btn_primary Сравнить
			.product-compare__switch
				+switch('compare-type', [
					{
						id: 'tires',
						label: 'Шины (10)',
						isActive: true
					},
					{
						id: 'discs',
						label: 'Диски (5)'
					}
				])
			.product-compare__summary В сравнении: 14 товаров

