.sale
	+h-slider({
		show: 4,
		scroll: 1,
		infinite: true,
		autoplay: true,
		speed: 800
	}, [
		'Все товары распродажи'
	])
		each i in Array(8)
			.h-slider__slide
				+tire-card({
					type:'menu',
					goods:'tire',
					img:'assets/images/content/tire-card_img.png',
					title:'Replica<br> BMW FR1156',
					caption:'7x16 5/114.3 ET38',
					price:'3000',
					avaliable:'true',
					play:'true',
					label:'discount'
				})
