.sales-slider
	.sales-slider__controls
		.sales-slider__right-switch.js-sales-slider__right-switch
			.slider-arrow
		.sales-slider__left-switch.js-sales-slider__left-switch
			.slider-arrow.slider-arrow_left.slider-arrow_inactive
		.sales-slider__all-products
			+btn('Все товары расподажи', true)
	.sales-slider__container.js-sales-slider__container
		.sales-slider__item
		.sales-slider__item
		.sales-slider__item
		.sales-slider__item
