.shop-info
	section.shop-info__main
		h1.shop-info__title информация о магазине
		.shop-info__text
			.shop-info__p
				|Делая выбор шин и дисков в нашем Интернет-магазине, вы делаете шаг в сторону экономии и безопасности, так как цены на все диски и шины радуют своей доступностью, а качество шиномонтажных услуг позволит чувствовать себя безопасно на любой дороге в любую погоду. 
			.shop-info__p
				|Все магазины и шиномонтажные посты располагаются во всех районах Москвы; Московской области. Все магазины имеют удобные пути проезда.
			.shop-info__p
				|В магазинах есть мягкие зоны, где вы можете отдохнуть и выпить чашечку горячего кофе. А тем временем наши квалифицированные специалисты произведут шиномонтаж.
		.shop-info__btn
	.shop-info__entry
		section.shop-info__entry-item
			h2.shop-info__entry-title Шиномонтаж
				.shop-info__entry-text
					|У нас в наличии современные шиномонтажные и балансировочные станки. В комплекс услуг входит мойка колес.
		section.shop-info__entry-item
			h2.shop-info__entry-title Сезонное хранение
				.shop-info__entry-text
					|Шины теряют свои физические свойства, если хранить их в неблагоприятных условиях или неправильно с ними обращаться.
		section.shop-info__entry-item
			h2.shop-info__entry-title Скидки и бонусы
				.shop-info__entry-text
					|Совершая покупки шин и дисков в «RU SHINA», вы финансируете свои следующие покупки!
		section.shop-info__entry-item
			h2.shop-info__entry-title Утилизация шин
				.shop-info__entry-text
					|Мы гарантируем, что все старые шины будут доставлены на завод переработки покрышек.