.slider-last-news.js-slick(
				data-show = 4
				data-scroll = 1
			)
	.slider-last-news__top-bar
		.slider-last-news__caption Новости рынка

		.slider-last-news__arrow-right.js-slick__next
			.slider-arrow
		.slider-last-news__arrow-left.js-slick__prev
			.slider-arrow.slider-arrow_left

		.sales-slider__all-products
			+btn('Все товары расподажи', true)

	.slider-last-news__container.js-slick__container
		.slider-last-news__item
		.slider-last-news__item
		.slider-last-news__item
		.slider-last-news__item
		.slider-last-news__item
		.slider-last-news__item
