.sort-labels
	span.sort-labels__description Сортировать по:

	.sort-labels__item
		span.sort-labels__type.sort-labels__type_active Названию
		+icon('icon_arrow').sort-labels__arrow.sort-labels__arrow_active

	.sort-labels__item
		span.sort-labels__type Цене
		+icon('icon_arrow').sort-labels__arrow.sort-labels__arrow_down

	.sort-labels__item
		span.sort-labels__type Популярности
		+icon('icon_arrow').sort-labels__arrow.sort-labels__arrow_down
