.technology
	h3.technology__title.h3.h_upcase ТЕХНОЛОГИИ
	ul.technology__list
		li За счет значительно сниженного сопротивления качению, обеспечивают экономию топлива на 12,3 %.
		img(src="./assets/images/content/tech-fuel_economy.png", alt="")
		li Обладают бескомпромиссными показателями на влажном покрытии.
		img(src="./assets/images/content/tech-wet_ground.png", alt="")
		li Улучшен срок службы.
		img(src="./assets/images/content/tech-comparison.png", alt="")
