nav.top-menu

	ul.top-menu__wraper.grid
		li.top-menu__tab.top-menu__tab_type_car
			a(href=jv0).top-menu__link
				span.top-menu__icon-wrap
					+icon('menu_01_car').top-menu__icon
				span.top-menu__label Ford Focus III Hatchback

		li.top-menu__tab.top-menu__tab_type_compare
			span.top-menu__icon-wrap
				+icon('menu_01_compare').top-menu__icon
				span.top-menu__counter.top-menu__counter_narrow 20
			span.top-menu__label Сравнение

		li.top-menu__tab.top-menu__tab_type_seen
			span.top-menu__icon-wrap
				+icon('menu_01_seen').top-menu__icon
				span.top-menu__counter.top-menu__counter_narrow 5
			span.top-menu__label Просмотренные

		li.top-menu__tab.top-menu__tab_type_feedback
			span.top-menu__icon-wrap
				+icon('menu_01_feedback').top-menu__icon
			span.top-menu__label Обратная связь

			.top-menu__container
				include feedback

		li.top-menu__tab.top-menu__tab_type_login
			span.top-menu__icon-wrap
				+icon('menu_01_login').top-menu__icon
			span.top-menu__label Константин Широкий

		li.top-menu__tab.top-menu__tab_type_cart
			span.top-menu__icon-wrap
				+icon('menu_01_cart').top-menu__icon

			span.top-menu__label Нет товаров :(
