nav.top-menu
	ul.top-menu__wraper.top-menu__wraper_order.grid

		li.top-menu__tab.top-menu__tab_order
			+icon('menu_1_clock').top-menu__icon.top-menu__icon_type_nolabel
			.top-menu__container.top-menu__container_rightedge
				include opening-hours

		li.top-menu__tab.top-menu__tab_order
			span.top-menu__icon-wrap
				+icon('menu_01_login').top-menu__icon.top-menu__icon_type_nolabel

		li.top-menu__tab.top-menu__tab_order
			span.top-menu__icon-wrap
				+icon('menu_01_feedback').top-menu__icon.top-menu__icon_type_nolabel
			.top-menu__container.top-menu__container_rightedge
				include feedback

		li.top-menu__contacts
			img(src='/assets/images/svg/1_logo_light.svg').top-menu__logo.top-menu__logo_order

			span.top-menu__back-button
				+back-button('Продолжить покупки')

			.top-menu__contact.top-menu__contact_order
				include consult-number
