nav.top-menu
	ul.top-menu__wraper.top-menu__wraper_lk.grid

		li.top-menu__tab.top-menu__tab_lk
			span.top-menu__icon-wrap
				+icon('menu_01_feedback').top-menu__icon.top-menu__icon_type_nolabel
			.top-menu__container.top-menu__container_rightedge
				include feedback

		li.top-menu__tab.top-menu__tab_lk
			span.top-menu__icon-wrap
				+icon('2_email').top-menu__icon.top-menu__icon_type_nolabel.top-menu__icon_type_lk

		li.top-menu__tab.top-menu__tab_lk
			+icon('menu_1_clock').top-menu__icon.top-menu__icon_type_nolabel

			.top-menu__container.top-menu__container_rightedge
				include opening-hours

		li.top-menu__contacts.top-menu__contacts_lk
			img(src='/assets/images/svg/1_logo_light.svg').top-menu__logo.top-menu__logo_lk

			span.top-menu__back-button.top-menu__back-button_lk
				+back-button('Вернуться на сайт')

			.top-menu__contact.top-menu__contact_lk
				include consult-manager

