.grid
	// --- base



	// ---

	h1.h1 Заголовок H1
	h2.h2 Заголовок H2
	h3.h3 Заголовок H3
	h4.h4 Заголовок H4
	h5.h5 Заголовок H5
	h6.h6 Заголовок H6

	// ---
	p Вы платите за транспортировку старых шин на завод переработки. Согласитесь, что свои 4 колеса самим вести в Чехов или в город Радужный за 180 км на завод не рационально. При этом шины, относятся к опасным отходам и подлежат обязательной переработке, захоронять шины на свалке запрещено.

	// ---
