.viewed
	.viewed-slider
		.viewed-slider__left-switch.js-viewed-slider__left-switch
		.viewed-slider__right-switch.js-viewed-slider__right-switch
		.viewed-slider__container
			.viewed-slider__item
			.viewed-slider__item
			.viewed-slider__item
			.viewed-slider__item
			.viewed-slider__item
			.viewed-slider__item
			.viewed-slider__item
			.viewed-slider__item
