.viewed
	.viewed-slider
		.viewed-slider__item
		.viewed-slider__item
		.viewed-slider__item
		.viewed-slider__item
		.viewed-slider__item
		.viewed-slider__left-switch
		.viewed-slider__right-switch
