.your-cars
	.your-cars__wrap.grid
		.your-cars__caption Добавить новый автомобиль:
	form.your-cars__inputs
		.your-cars__brand
			.your-cars__label Марка:
			.your-cars__value
		.your-cars__model
			.your-cars__label Модель:
			.your-cars__value
		.your-cars__year
			.your-cars__label Год выпуска:
			.your-cars__value
