.tree
	padding-x 10px

	&__item
		margin-left 10px
		font-size 16px
		line-height 24px
		white-space nowrap

	&__icon
		position relative
		top -2px
		display inline-block
		vertical-align middle
		size 24px

		&_type_folder
			color #fc4

		&_type_file
			color #888

	&__name
		margin-left 4px
