.tree
	padding-x 10px

	&__item
		margin-left 10px
		margin-bottom 10px
		font-size 18px
		line-height 24px
		white-space nowrap

	&__icon
		position relative
		top -1px
		display inline-block
		vertical-align middle
		size 20px

		&_type_folder
			color #fc4
			margin 5px

		&_type_file
			color #888
			size 30px
			top -6px
			margin-left 2px

	&__name
		margin-left 6px
		position relative
		top 2px
