include ../icon/icon

mixin tree(tree)
	+b('ul').tree&attributes(attributes)
		each item in tree
			if item.folder
				+e('li').item
					+icon('folder').icon._type_folder
					+e('span').name #{ item.folder }

					if item.content
						+tree(item.content)
			else if item.file
				+e('li').item
					+icon('file').icon._type_file
					+e('span').name #{ item.file }
