mixin tree(tree)
	+b('ul').tree&attributes(attributes)
		each item in tree
			if item.folder
				+e('li').item._type_folder #{ item.folder }
					if item.content
						+tree(item.content)
			else if item.file
				+e('li').item #{ item.file }
