.container
	position relative
	top -7px
	display flex
	justify-content space-between
	padding-bottom 60px

	+tablet()
		justify-content center
		flex-direction column

	+mobile()
		justify-content center
		flex-direction column
		padding-bottom 20px
