.delo
	position relative
	display block

	&__img
		position absolute
		top 184px
		left 368px
		display block
		margin 0 auto
		// padding 60px 0 40px 0

		+mobile()
			position static
			margin-left 60px
			margin-top 60px
			padding-bottom 30px
