.col
	display inline-block

.first
	margin-left -7px

	+mobile()
		margin-left 10px

.second
	margin-left 58px

	+mobile()
		margin-left 10px

.third
	margin-right 30px

	+mobile()
		margin-left 10px
