 cuprum = Cuprum, sans-serif

@font-face
	font-family 'Cuprum'
	src local('Cuprum'),
		local('Cuprum-Regular'),
		url('../fonts/cuprum-400-normal.woff2') format('woff2'),
		url('../fonts/cuprum-400-normal.woff') format('woff')
	font-weight 400
	font-style normal

@font-face
	font-family 'Cuprum'
	src local('Cuprum Bold'),
		local('Cuprum-Bold'),
		url('../fonts/cuprum-700-normal.woff2') format('woff2'),
		url('../fonts/cuprum-700-normal.woff') format('woff')
	font-weight 700
	font-style normal

@font-face
	font-family 'Courier New'
	src local('Courier New'),
		url('../fonts/courier-new-webfont.woff') format('woff')
	font-weight 400
	font-style normal
//
// @font-face {
//   font-family 'PTSansBold'
// 	src local('PTSansBold'),
// 		local('PTSansBold'),
//   src url("../fonts/PTSansBold.eot")
//   src url("../fonts/PTSansBold.eot?#iefix")format("embedded-opentype")
//   url("../fonts/PTSansBold.woff") format("woff")
//   url("../fonts/PTSansBold.ttf") format("truetype")
//   font-style normal
//   font-weight normal
// }
