comic  = 'Comic Relief', sans-serif
cuprum = Cuprum, sans-serif

@font-face
	font-family 'Comic Relief'
	src url('../fonts/comicrelief-400-normal.woff2') format('woff2'),
		url('../fonts/comicrelief-400-normal.woff') format('woff')
	font-weight 400
	font-style normal

@font-face
	font-family 'Cuprum'
	src url('../fonts/cuprum-400-normal.woff2') format('woff2'),
		url('../fonts/cuprum-400-normal.woff') format('woff')
	font-weight 400
	font-style normal
