cuprum = Cuprum, sans-serif

@font-face
	font-family 'Cuprum'
	src local('Cuprum'),
		local('Cuprum-Regular'),
		url('../fonts/cuprum-400-normal.woff2') format('woff2'),
		url('../fonts/cuprum-400-normal.woff') format('woff')
	font-weight 400
	font-style normal

@font-face
	font-family 'Cuprum'
	src local('Cuprum Bold'),
		local('Cuprum-Bold'),
		url('../fonts/cuprum-700-normal.woff2') format('woff2'),
		url('../fonts/cuprum-700-normal.woff') format('woff')
	font-weight 700
	font-style normal
