// fonts
$text-fonts = 'PT Sans', Tahoma, sans-serif
$heading-fonts = 'Segoe UI', 'Open Sans', $text-fonts

// grid
$module-width = 80px
$module-gap = 20px

// colors
$light-gray = #ebebeb
$gray = #757575
$dark-gray = #616161
$light-yellow = #fee800
$yellow = #fdd42e
$dark-yellow = #d6a234
$blue = #0b89ff
$red = #fe0000

// gradients
$primary-gradient = linear-gradient(to bottom, $light-yellow, #fbba00)
