// fonts
$text-fonts = 'PT Sans', Tahoma, sans-serif
$heading-fonts = 'Segoe UI', 'Open Sans', $text-fonts

// grid
$module-width = 80px
$module-gap = 20px

// colors
$rushina-light-gray = #ebebeb
$rushina-gray = #757575
$rushina-dark-gray = #616161
$rushina-gray-border = #d4d4d4
$rushina-light-yellow = #fee800
$rushina-yellow = #fdd42e
$rushina-dark-yellow = #d6a234
$rushina-blue = #0b89ff
$rushina-red = #fe0000

// gradients
$primary-gradient = linear-gradient(to bottom, $rushina-light-yellow, #fbba00)
$info-gradient = linear-gradient(to bottom, #00aeff, #0084ff)
