extends ../layouts/default

block head
	- pageTitle = 'headers';

block content
	h4 Дефолтный (../blocks/header)
	br
	include ../blocks/header
	br
	h4 Фиксированый (../blocks/header-fix)
	br
	include ../blocks/header-fix
	br
	h4 