extends ../layouts/default

block content
	h4 Дефолтный (../blocks/top-menu)
	br
	include ../blocks/top-menu
	br
	h4 Фиксированый (../blocks/header-fix)
	br
	include ../blocks/top-menu-fix
	br
	h4
	br
	include ../blocks/main-menu_header
	br
	br
	include ../blocks/main-menu
	br
	h4 Оформление заказа
	br
	include ../blocks/top-menu-order
	br
	h4 Личный кабинет
	br
	include ../blocks/top-menu-lk
	br
