extends ../layouts/default

block content
	h4 Дефолтный (../blocks/top-menu)
	br
	include ../blocks/top-menu
	br
	include ../blocks/top-menu_login
	br
	h4 Фиксированый (../blocks/header-fix)
	br
	include ../blocks/top-menu-fix
	br
	h4 Оформление заказа
	br
	include ../blocks/top-menu-order
	br
	h4 Личный кабинет
	br
	include ../blocks/top-menu-lk
	h4 Ваши авто
	br
	include ../blocks/your-cars
	br
	include ../blocks/your-cars_add
	br
	h4 Обратная связь
	br
	include ../blocks/feedback
	br
	include ../blocks/opening-hours
