extends ../layouts/default

block head
	- pageTitle = 'headers';

block content
	h4 Дефолтный (../blocks/header)
	br
	include ../blocks/header
	br
	h4 Фиксированый (...)
	br
	include ../blocks/header-flow
	br