extends ../layouts/radar

block content
	table.radar
		tr
			th(colspan='2') Технические

		tr
			td.red
			td
				a(href='_ui-kit.html') UI-kit
		tr
			td.red
			td
				a(href='_headers.html') Headers

		tr
			th(colspan='2') По приоритету заказчика

		tr
			td.red
			td
				a(href='home.html') Главная
		tr
			td.red
			td
				a(href='tire-selection.html') Подбор шин по марке авто
		tr
			td.red
			td
				a(href='tires.html') Выдача/подбор шин
		tr
			td.red
			td
				a(href='disks.html') Выдача/подбор дисков
		tr
			td.red
			td
				a(href='tire.html') Карточка шины
		tr
			td.red
			td
				a(href='tire-common.html') Карточка шины общая
		tr
			td.red
			td
				a(href='disk.html') Карточка диска
		tr
			td.red
			td
				a(href='disk-common.html') Карточка диска общая
		tr
			td.red
			td
				a(href='order.html') Оформление заказа

		tr
			th(colspan='2') Пока без приоритета

		tr
			td.red
			td
				a(href='disks-cat.html') Каталог дисков
		tr
			td.red
			td
				a(href='tires-cat.html') Каталог шин
		tr
			td.red
			td
				a(href='about-company.html') О компании
		tr
			td.red
			td
				a(href='about-service.html') Сервис
		tr
			td.red
			td
				a(href='about-delivery.html') Доставка и оплата
		tr
			td.red
			td
				a(href='credit.html') Покупка в кредит
		tr
			td.red
			td
				a(href='about-stuff.html') Полезная информация
		tr
			td.red
			td
				a(href='about-contacts.html') Контакты
		tr
			td.red
			td
				a(href='personal.html') Личный кабинет
		tr
			td.red
			td
				a(href='calc.html') Шинный калькулятор
		tr
			td.red
			td
				a(href='compare.html') Сравнение
		tr
			td.red
			td
				a(href='brands.html') Брэнды

