extends ../layouts/default

block head
	- pageTitle = 'Карточка шины';

block content
	p Блок "просмотренные" в плавающем меню
		.tire-card
			.tire-card__content.grid-module-6
				img.tire-card-img(src='assets/images/content/tire-card_img.png')
				.tire-card-play.tire-card-play_active
					+icon('icon_play').tire-card-play-icon
				.h4.tire-card-title
					|Replica<br> BMW FR1156
				.tire-card-caption
					|7x16 5/114.3 ET38
				.h2.tire-card-price
					.tire-card-price-num 3000
						+icon('1_RUB').tire-card-price-rub
				.tire-card-avaliable в наличии
				.tire-card-label.tire-card-label_discount.tire-card-label_active
	p Блок "сравнение" в плавающем меню
		.tire-card
			.tire-card-close
				+icon('icon_close').tire-card-close-icon
			.tire-card__content.grid-module-6
				img.tire-card-img(src='assets/images/content/tire-card_img.png')
				.tire-card-play.tire-card-play_active
					+icon('icon_play').tire-card-play-icon
				.h4.tire-card-title
					|Replica<br> BMW FR1156
				.tire-card-caption
					|7x16 5/114.3 ET38
				.h2.tire-card-price
					.tire-card-price-num 3000
						+icon('1_RUB').tire-card-price-rub
				.tire-card-avaliable в наличии
				.tire-card-label.tire-card-label_discount.tire-card-label_active
	p Блок "распродажа" на главной странице
		.tire-card
			.tire-card__content.grid-module-6
				img.tire-card-img(src='assets/images/content/tire-card_img.png')
				.tire-card-play.tire-card-play_active
					+icon('icon_play').tire-card-play-icon
				.h4.tire-card-title
					|Replica<br> BMW FR1156
				.tire-card-caption
					|7x16 5/114.3 ET38
				.h2.tire-card-price.tire-card-price_left
					.tire-card-price-num 1700
						+icon('1_RUB').tire-card-price-rub
				.tire-card-oldprice
					.tire-card-oldprice-num 3400
						+icon('1_RUB').tire-card-oldprice-rub
				.tire-card-avaliable в наличии
				.tire-card-option
					+icon('tireicon_summer').tire-card-option__item.tire-card-option__item_summer
					+icon('tireicon_summer').tire-card-option__item.tire-card-option__item_summer
				.tire-card-label.tire-card-label_discount.tire-card-label_active
	p Блок "новинки" на главной странице
		.tire-card
			.tire-card__content.tire-card__content_short.grid-module-6
				img.tire-card-img(src='assets/images/content/tire-card_img.png')
				.tire-card-play.tire-card-play_active
					+icon('icon_play').tire-card-play-icon
				.h4.tire-card-title
					|Replica<br> BMW FR1156
				.h2.tire-card-price
					.tire-card-price-num 3000
						+icon('1_RUB').tire-card-price-rub
				.tire-card-label.tire-card-label_new.tire-card-label_active
