- var pageScripts = pageScripts || [[], [], []];

include ../../node_modules/bemto.jade/bemto.jade
include ../blocks/header/header
include ../blocks/main/main
include ../blocks/footer/footer
include ../blocks/scripts/scripts

+script([], ['app.min.js'])

doctype html
html(lang='ru')
	include ../blocks/head/head
	body
		+main()
			+header()
			block content
			+footer()

		+scripts()
