.page
	padding-top 20px
	padding-bottom 20px
	color #000
	font-family cuprum, sans-serif
	background-color #f0f0f0
	background-image url(../images/chruch.png)
	cursor default

	+mobile()
		padding-top 0
		padding-bottom 0
