include ../header/header
include ../test/test

mixin page(question, answers, nextQuestion, questionCounter, questionMax, picSrc, picName)
	+b('body').page&attributes(attributes)
		block

		+header
		+test(
			question,
			answers,
			nextQuestion,
			questionCounter,
			questionMax,
			picSrc,
			picName
		)
