.fork
	&::selection
		background-color transparent

	+from-width(541px)
		position absolute
		top 0
		right 0
		display block
		overflow hidden
		height 200px
		width 200px

	&__link
		padding-y 5px
		padding-x 40px
		display block
		font-family comic
		font-size 16px
		line-height 32px
		text-align center
		text-decoration none
		transition-duration .25s
		transition-property color, background-color
		transition-timing-function ease-out

		+mobile()
			margin-top 40px
			color #e74c3c
			border-radius 4px
			will-change transform

			&:active
				transform scale(.975)

		+from-width(541px)
			position absolute
			top 50px
			right -54px
			width 250px
			color #fff
			background-color #333
			transform rotate(45deg)

		&:hover
			color #fff
			background-color #e74c3c
