include ../social/social

mixin result()
	+b.result&attributes(attributes)
		block
	p.result__text Довольно опрометчиво полагать, что женщины и мужчины кодят как-то по-разному. Не правда ли?!
	p.result__text Понравился тест? Поделись им с друзьями
	+social

	a(class='result__btn' href='index.html') Пройти заново
