include ../icon/icon
include ../delo/delo

mixin logo()
	//- +icon('uranchik').logo&attributes(attributes)
	+delo
		
	
//- поменять эту строчку на вставку картинки с лого
//- и в стилях сделать правильное расположение
