.catalog
	each i in Array(5)
		.catalog__row.cols
			.col.grid-module-2
				+tire-card({
					type:'choose',
					goods:'tire',
					img:'assets/images/content/tire-180x200.jpg',
					title:'Replica<br> BMW FR1156',
					caption:'7x16 5/114.3 ET38',
					price:'17000',
					oldprice:'9400',
					avaliable:'true',
					play:'true',
					option_left:'summer',
					option_right:'spike',
					label:'discount',
					rating: '3',
					voted:'12'
				})
			.col.grid-module-2
				+tire-card({
					type:'choose',
					goods:'tire',
					img:'assets/images/content/tire-180x200.jpg',
					title:'Replica<br> BMW FR1156',
					caption:'7x16 5/114.3 ET38',
					price:'1700',
					oldprice:'3400',
					avaliable:'true',
					play:'true',
					option_left:'winter',
					label:'new',
					rating: '4',
					voted:'15'
				})
			.col.grid-module-2
				+tire-card({
					type:'choose',
					goods:'tire',
					img:'assets/images/content/tire-180x200.jpg',
					title:'Replica<br> BMW FR1156',
					caption:'7x16 5/114.3 ET38',
					price:'8700',
					avaliable:'true',
					play:'true',
					option_left:'allseason',
					label:'new',
					rating: '4',
					voted:'15'
				})
			.col.grid-module-2
				+tire-card({
					type:'choose',
					goods:'tire',
					img:'assets/images/content/tire-180x200.jpg',
					title:'Replica<br> BMW FR1156',
					caption:'7x16 5/114.3 ET38',
					price:'17000',
					oldprice:'9400',
					avaliable:'true',
					play:'true',
					option_left:'summer',
					option_right:'spike',
					label:'discount',
					rating: '3',
					voted:'12'
				})
			.col.grid-module-2
				+tire-card({
					type:'choose',
					goods:'tire',
					img:'assets/images/content/tire-180x200.jpg',
					title:'Replica<br> BMW FR1156',
					caption:'7x16 5/114.3 ET38',
					price:'1700',
					oldprice:'3400',
					avaliable:'true',
					play:'true',
					option_left:'winter',
					label:'new',
					rating: '4',
					voted:'15'
				})
