.bio
	padding-x 40px
	text-shadow 1px 1px 1px rgba(255, 255, 255, .5)
	// background-color #9d1313
	border-radius 4px
	font-size 22px
	font-family 'Courier new'
	font-weight 400

	&::selection
		background-color rgba(0, 0, 0, .1)
