.bio
	position relative
	top -8px
	padding-left 22px
	// text-shadow 1px 1px 1px rgba(255, 255, 255, .5)
	// background-color #9d1313
	// border-radius 4px
	font-size 28px
	font-family 'Courier new'
	font-weight 400
	letter-spacing 0.027em

	+mobile()
		// position static
		top -2px
		font-size 16px
		font-weight 700
		letter-spacing 0em
		padding-left 5px

	&::selection
		background-color rgba(0, 0, 0, .1)
