.header
	margin-bottom 30px
	padding-y(21px)
	display block
	box-shadow 0 1px 0 0 pale-grey

	&__title
		display block
		font-size 28px
		line-height 1
		text-align center
		color charcoal-grey

@media (max-width: 641px)
	.header
		margin-bottom 16px
		padding-y(15px)

		&__title
			font-size 20px
