include ../logo/logo
include ../dark/dark
include ../title/title
include ../description/description

mixin header()
	+b.header&attributes(attributes)
		+logo()

		+e.title
			+dark()
				+title()
					| CSSSR Project Template

		+description()
			| Шаблон проекта для быстрого старта
