.arrow
	margin-x auto
	color #579eda

	&__text
		font-size 18px
		line-height 1
		text-align center

	&__icon
		margin-x auto
		display block
		width 64px
		height 64px

		+mobile()
			margin-top 10px
			transform rotate(90deg)
