.arrow
	margin-x auto
	color #579eda

	&__text
		font-size 18px
		line-height 1
		text-align center

	&__icon
		position relative
		margin-x auto
		display block
		width 48px
		height 64px

		+mobile()
			margin-top 10px
			transform rotate(90deg)

		&:after
		&:before
			position absolute
			top 0
			bottom 0
			margin-y auto
			content ''

		&:before
			left 0
			width 24px
			height 20px
			background-color currentColor

		&:after
			right 0
			width 0
			height 0
			border-top 24px solid transparent
			border-left 24px solid currentColor
			border-bottom 24px solid transparent

