- var pageScripts = pageScripts || [[], [], []];

include ../blocks/header
include ../blocks/footer
include ../blocks/scripts

+script([], ['app.min.js'])

doctype html
html(lang='ru')
	include ../blocks/head
	body
		.main
			+header()
			block content
			+footer()

		+scripts()
