include ../felixexter/felixexter

mixin footer()
	+b.footer&attributes(attributes)
		+e.copyright
			+e('a').link(href='https://github.com/felixexter' title="Felix Exter")
				+felixexter
			+e('a').link(href='http://csssr.ru')
				+icon('csssr').logo
