.footer
	padding-top 20px

	&__copyright
		padding 20px
		font-family comic
		font-size 14px
		line-height 20px
		text-align center

	&__link
		text-decoration none
		color #333
		transition-duration .25s
		transition-property color

		&:hover
			color #e74c3c
