include ../underline/underline

mixin footer()
	+b.footer&attributes(attributes)
		+e.copyright
			+e('a').link(href='https://github.com/felixexter' title="Felix Exter")
				+underline
			+e('a').link(href='http://csssr.ru')
				+icon('csssr').footer__logo
