.footer
	padding-top 10px

	&__copyright
		display flex
		justify-content center
		align-items center
		padding 20px

	&__link
		margin-x 4px
		display block
		text-decoration none
		color #333
		transition-duration .25s
		transition-property color

		&:hover
			color #e74c3c

	&__logo
		display block
		height 14px
		width 58px
