include /../node_modules/bemto.jade/bemto
include /../node_modules/jade-injected/jade-injected
include ../page/page
include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	+page(null, null, null, null, null, 'https://slack-imgs.com/?c=1&url=http%3A%2F%2Fs.csssr.ru%2FU02D1C74W%2F20170306230040.png', 'danger')
		block content
		+scripts(['app.min.js'])
