.advantages
	.advantages-arrow.advantages-arrow_left
		.advantages-arrow-mark.advantages-arrow-mark_left
	.advantages-arrow.advantages-arrow_right
		.advantages-arrow-mark.advantages-arrow-mark_left
	.advantages-content
		.advantages-title
			|Наши преимущества
		.advantages-block
			.advantages-img.advantages-img_deliver
			.advantages-caption Доставка<br> по всей России
		.advantages-block
			.advantages-img.advantages-img_cards
			.advantages-caption Удобные<br> способы оплаты
		.advantages-block
			.advantages-img.advantages-img_wheels
			.advantages-caption Более 50<br> топовых брендов
		.advantages-block
			.advantages-img.advantages-img_guarantee
			.advantages-caption Гарантия<br> возврата 100%
