.bus-card
	.bus-card-close
		+icon('icon_close').bus-card-close-icon
	.bus-card__content.grid-module-6
		.bus-card-img
		.bus-card-play
			+icon('icon_play').bus-card-play-icon
		.h4.bus-card-title
			|Replica<br> BMW FR1156
		.bus-card-caption
			|7x16 5/114.3 ET38
		.h2.bus-card-price
			.bus-card-price-num 3000
				+icon('1_RUB').bus-card-price-rub
		.bus-card-avaliable в наличии
		.bus-card-label
