.footer
	.footer-content
		.grid
			.footer-contact
				+footer-contact__info({text:'+7 (495) 345-67-89', icon:'contact_1_tel', mod:'phone'})(class='footer-contact__info_phone')
				+footer-contact__info({text:'Пн-Пт с 09:00 до 19:00<br>Сб с 10:00 до 18:00', icon:'menu_1_clock', mod:'clock'})
				//- +footer-contact__info({text:'a(href=\'#\') info@ru-shina.ru', icon:'contact_2_email', mod:'email'})
				//- 'a(href='#')' печатается как простой текст
				.footer-contact__info
					+icon('contact_2_email').footer-icon.footer-icon_email
					a(href='#') info@ru-shina.ru
				+footer-contact__info({text:'г.Москва, ул. Гиляровского, 32', icon:'contact_3_position', mod:'flag'})
			.footer-nav-list
				+footer-nav__item('О компании', ['Акции и скидки', 'Новости', 'Вакансии'])
				+footer-nav__item('Шины', ['По типоразмеру', 'По автомобилю', 'По бренду'])
				+footer-nav__item('Диски', ['По типоразмеру', 'По автомобилю', 'По бренду', 'Диски Replica'])
				+footer-nav__item('Доставка и оплата', ['По Москве и МО', 'По России', 'Кредитование'])
				+footer-nav__item('Услуги', ['Шиномонтаж', 'Сезонное хранение шин', 'Утилизация шин и дисков'])
				+footer-nav__item('Контакты')(href='#')
				+footer-nav__item('Полезная информация')(href='#')
	.footer-bottom
		.grid
			.footer-wrapper
				.footer-logo
				.footer-bottom__pay
					.footer-bottom-caption Принимаем к оплате:
					+footer-bottom-btn({type:'pay', mod:'visa'})
					+footer-bottom-btn({type:'pay', mod:'mastercard'})
					+footer-bottom-btn({type:'pay', mod:'wallet'})
					+footer-bottom-btn({type:'pay', mod:'yandex'})
					+footer-bottom-btn({type:'pay', mod:'paypal'})(class='footer-bottom-btn_pay_long')
				.footer-bottom__social
					.footer-bottom-caption Присоединяйтесь к нам:
					+footer-bottom-btn({type:'social', mod:'vk', icon:'1_ss_VK'})
					+footer-bottom-btn({type:'social', mod:'classmates', icon:'1_ss_Odnoklassniki'})
					+footer-bottom-btn({type:'social', mod:'fb', icon:'1_ss_Facebook'})
					+footer-bottom-btn({type:'social', mod:'twitter', icon:'1_ss_Twitter'})

	.footer-copyright
		.grid
			.footer-copyright-caption
				|<span class='footer-copyright-caption_sign'>&copy;</span> &laquo;RU-SHINA&raquo;, интернет-магазин шин и дисков, 2014
