.block-logo.floatL
	img(src='assets/images/logo.png')
	p Секретный архив учреждения
.image-block-stamp-top-secret.floatR
	img(src='assets/images/stamp_top_secret.png')
.clear
.image-block-record-case
	img(src='assets/images/stamp_case.png')