.sticky-nav.js-sticky-nav
	.sticky-nav__menu-wrapper
		.sticky-nav__full-menu
			include ../blocks/top-menu
		.sticky-nav__short-menu
			include ../blocks/top-menu-fix
	.sticky-nav__submenu.js-menu(data-menu='nav')
		include ../blocks/main-menu_header
		include ../blocks/menu-fast-selection
	.sticky-nav__submenu.js-menu(data-menu='garage')
		include ../blocks/your-cars
	.sticky-nav__submenu.js-menu(data-menu='comparsion')
		include ../blocks/product-compare
	.sticky-nav__submenu.js-menu(data-menu='history')
		include ../blocks/last-viewed-products
	.sticky-nav__submenu.js-menu(data-menu='cart')
		include ../blocks/menu-cart

.header
	.header__top-search
		include top-search
	.header__main-menu
		include ../blocks/main-menu
