.sticky-nav.js-sticky-nav
	.sticky-nav__menu-wrapper
		.sticky-nav__full-menu
			include ../blocks/top-menu
		.sticky-nav__short-menu
			include ../blocks/top-menu-fix
	.sticky-nav__submenu
		include ../blocks/main-menu_header
	.sticky-nav__submenu
		include ../blocks/your-cars
	.sticky-nav__submenu
		include ../blocks/product-compare
	.sticky-nav__submenu
		include ../blocks/last-viewed-products

.header
	.header__top-search
		include top-search
	.header__main-menu
		include ../blocks/main-menu
