.news__item.news__item_long
	.news__item-photo.news__item_long-photo
	.news__item-content.news__item_long-content
		a.news__item-title.news__item_long-title(href='#')
			|Компания Vredestein обновляет гамму зимних и всесезонных шин
		|Компания Vredestein представила новую модель всесезонных шин Quatrac 5, которая будет продаваться на рынках, где этот тип шин всегда пользовался большим спросом. Прежде всего, эти шины можно использовать при различных погодных условиях в зависимости от сезона, поскольку они обеспечивают приемлемые характеристики сцепления на всех типах дорожного покрытия. При этом новинка не превосходит показатели летних шин при жаркой погоде или зимней резины при низких температурах. Благодаря продольной асимметричной канавке управляемость шин и их устойчивость на поворотах были улучшены по сравнению с предыдущей моделью. Устойчивость на поворотах была<br> также увеличена за счёт использования технологии 3D Grip Claws, которая также обеспечивает лучшую тягу на снегу и льду.
