mixin felixexter()
	+b.felixexter&attributes(attributes)
		+e.box
			+e.square._top_left
			+e.square._top_right
			+e.square._center_left
			+e.square._center_right
			+e.square._center_center
			+e.square._bottom_left
			+e.square._bottom_right
			+e.square._bottom_center
