mixin tire-card(data)
	if data.type=='menu'
		.tire-card
			.tire-card__content.grid-module-6
				img.tire-card__img(src='assets/images/content/tire-card_img.png')
				.tire-card-play.tire-card-play_active
					+icon('icon_play').tire-card-play-icon
				.h4.tire-card-title
					|Replica<br> BMW FR1156
				.tire-card-caption
					|7x16 5/114.3 ET38
				.h2.tire-card-price
					.tire-card-price__num 3000
						+icon('1_RUB').tire-card-price__rub
				.tire-card-avaliable в наличии
				.tire-card__label.tire-card__label_discount.tire-card__label_active
					.tire-card__label_discount-caption Скидка!

	if data.type=='sale'
		.tire-card
			.tire-card__content.grid-module-6
				img.tire-card__img(src='assets/images/content/tire-card_img.png')
				.tire-card-play.tire-card-play_active
					+icon('icon_play').tire-card-play-icon
				.h4.tire-card-title
					|Replica<br> BMW FR1156
				.tire-card-caption
					|7x16 5/114.3 ET38
				.h2.tire-card-price.tire-card-price_left
					.tire-card-price__num 1700
						+icon('1_RUB').tire-card-price__rub
				.tire-card-oldprice
					.tire-card-oldprice__num 3400
						+icon('1_RUB').tire-card-oldprice__rub
				.tire-card-avaliable в наличии
				.tire-card__option
					+icon('tireicon_summer').tire-card__option__item.tire-card__option__item_summer
					//- +icon('tireicon_allseason').tire-card__option__item.tire-card__option__item_allseason
					//- +icon('tireicon_winter').tire-card__option__item.tire-card__option__item_winter
					+icon('tireicon_spike').tire-card__option__item.tire-card__option__item_spike
				.tire-card__label.tire-card__label_discount.tire-card__label_active
					.tire-card__label_discount-caption Скидка!

	if data.type=='new'
		.tire-card
			.tire-card__content.tire-card__content_short.grid-module-6
				img.tire-card__img(src='assets/images/content/tire-card_img.png')
				.tire-card-play.tire-card-play_active
					+icon('icon_play').tire-card-play-icon
				.h4.tire-card-title
					|Replica<br> BMW FR1156
				.h2.tire-card-price
					.tire-card-price__num 3000
						+icon('1_RUB').tire-card-price__rub
				.tire-card__label.tire-card__label_new.tire-card__label_active
					.tire-card__label_new-caption Новинка
