.secret
	bisplay block
	position relative

	&__img
		// display block
		position absolute
		top 48px
		right 54px

		+mobile()
			// position static
			// margin-left 10%
			width 50%
			top -70px
			right 10px
