.text
	display block
	font-family 'Courier new'
	font-weight 400
	font-size 14px
	line-height 1.6em
	padding-top 17px

	&__amp
		font-size 25px
		font-weight 700

	&__descr
		position relative
		top -25px
		left 21px

		+mobile()
			left 14px
