.text
	display block
	font-family 'Courier new'
	font-weight 400
	font-size 14px
	line-height 1.6em
	padding 18px

	&__amp
		font-size 28px
		font-weight 700

	&__descr
		position relative
		top -25px
		padding-left 20px
