extends partials/layout

block head
	- page.title = 'CSSSR Project Template';

block content
	mixin tools(list)
		ul.list
			each item in list
				li.list__item
					span.mark= item[0]
					= ' - ' + item[1]

	mixin file(file)
		li.list__item.list__item_type_file= file

	mixin folder(item)
		li.list__item.list__item_type_folder= item.folder
			if item.content
				+tree(item.content)

	mixin tree(tree)
		ul.list.list_type_files
			each item in tree
				if item.folder
					+folder(item)
				else if item.file
					+file(item.file)


	h2.h2 ЧТО ВКЛЮЧЕНО

	h3.h3 Инструменты:
	+tools([
		['clean', 'очистка папки от файлов'],
		['spritesmith', 'генератор спрайтов и CSS переменных'],
		['imagemin', 'сжатие картинок'],
		['stylus', 'препроцессор CSS'],
		['autoprefixer', 'подстановка префиксов для заданных браузеров'],
		['cssbeautifier', 'форматирование CSS'],
		['jade', 'препроцессор HTML'],
		['prettify', 'форматирование HTML'],
		['jshint', 'проверка JavaScript на качество кода с подсказками'],
		['copy', 'создание копий файлов'],
		['connect', 'сервер проекта'],
		['watch', 'отслеживание изменений файлов и их компиляция']
	])

	h2.h2 СТРУКТУРА ФАЙЛОВ

	.container
		.col
			h3.h3 Исходники
			+tree([
				{ folder: 'fonts' },
				{
					folder: 'images'
				}, {
					folder: 'scripts',
					content: [
						{ file: 'jquery.min.js' },
						{ file: 'main.js' }
					]
				}, {
					folder: 'styles',
					content: [
						{ file: 'main.styl' },
						{ file: 'normalize.styl' }
					]
				}, {
					folder: 'templates',
					content: [
						{
							folder: 'partials',
							content: [
								{ file: 'footer.jade' },
								{ file: 'head.jade' },
								{ file: 'header.jade' },
								{ file: 'scripts.jade' }
							]
						},
						{ file: 'index.jade' }
					]
				}
			])

		.col
			.arrow-caption Компиляция
			.arrow

		.col
			h3.h3 Готовые файлы
			+tree([
				{ folder: 'fonts' },
				{ folder: 'images' },
				{
					folder: 'scripts',
					content: [
						{ file: 'jquery.min.js' },
						{ file: 'main.js' }
					]
				},
				{
					folder: 'styles',
					content: [
						{ file: 'main.css' }
					]
				},
				{ file: 'index.html' }
			])
