extends layouts/default

block head
	- page.title = 'CSSSR Project Template';

block scripts
	+script(['main.js'])

block content
	h2.h2 ЧТО ВКЛЮЧЕНО

	h3.h3 Инструменты:
	+tools([
		['bump', 'обновление версии проекта'],
		['clean', 'очистка папки от файлов'],
		['spritesmith', 'генератор спрайтов и CSS переменных'],
		['imagemin', 'сжатие картинок'],
		['stylus', 'препроцессор CSS'],
		['autoprefixer', 'подстановка префиксов для заданных браузеров'],
		['combine-media-queries', 'комбинирование медиа-запросов в CSS'],
		['csscomb', 'форматирование CSS'],
		['jade', 'препроцессор HTML'],
		['prettify', 'форматирование HTML'],
		['jshint', 'проверка JavaScript на качество кода с подсказками'],
		['copy', 'создание копий файлов'],
		['uglify', 'минифицирование и обфускация скриптов'],
		['replace', 'автозамена паттернов на заданные значения'],
		['connect', 'сервер проекта'],
		['watch', 'отслеживание изменений файлов и их компиляция']
	])

	h2.h2 СТРУКТУРА ФАЙЛОВ

	.container
		.col
			h3.h3 Исходники
			+tree([
				{
					folder: 'images'
				}, {
					folder: 'scripts',
					content: [
						{
							folder: 'libs',
							content: [
								{ file: 'jquery.min.js' },
							]
						},
						{ file: 'main.js' }
					]
				}, {
					folder: 'styles',
					content: [
						{
							folder: 'base',
							content: [
								{ file: 'common.styl' },
								{ file: 'fonts.styl' },
								{ file: 'normalize.styl' }
							]
						},
						{
							folder: 'components',
							content: [
								{ file: 'fork.styl' }
							]
						},
						{
							folder: 'helpers',
							content: [
								{ file: 'mixins.styl' },
								{ file: 'sprite.styl' },
								{ file: 'variables.styl' }
							]
						},
						{
							folder: 'pages',
							content: [
								{ file: 'main.styl' }
							]
						},
						{
							folder: 'partials',
							content: [
								{ file: 'footer.styl' },
								{ file: 'header.styl' }
							]
						},
						{ file: 'main.styl' }
					]
				}, {
					folder: 'templates',
					content: [
						{
							folder: 'helpers',
							content: [
								{ file: 'mixins.jade' },
								{ file: 'variables.jade' }
							]
						},
						{
							folder: 'layouts',
							content: [
								{ file: 'default.jade' }
							]
						},
						{
							folder: 'partials',
							content: [
								{ file: 'footer.jade' },
								{ file: 'head.jade' },
								{ file: 'header.jade' },
								{ file: 'scripts.jade' }
							]
						},
						{ file: 'index.jade' }
					]
				}
			])

		.col
			.arrow-caption Компиляция
			.arrow

		.col
			h3.h3 Готовые файлы
			+tree([
				{
					folder: 'assets',
					content: [{
						folder: page.version,
						content: [
							{ folder: 'images' },
							{
								folder: 'scripts',
								content: [
									{
										folder: 'libs',
										content: [
											{ file: 'jquery.min.js' }
										]
									},
									{ file: 'main.js' }
								]
							},
							{
								folder: 'styles',
								content: [
									{ file: 'main.css' }
								]
							}
						]
					}]
				},
				{ file: 'index.html' }
			])
